<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">
</div>
<!-- phonepart -->
<div class=" above-navbar-phone visible-md visible-sm visible-xs text-center">
</div>

<div class="register_bandeau hidden-md hidden-sm hidden-xs">
  <h3 class="text-center"><span class="celebrating1 float-left-celeb">1toit2ages 10 years</span> Celebrating Homeshare ! <span class="celebrating2 float-right-celeb">Homeshare International 20 years</span></h3>
</div>
<div class="register_bandeau visible-md visible-sm visible-xs">
  <h3 class="text-center celebrating1-phone">1toit2ages 10 years</h3>
  <h3 class="text-center"> Celebrating Homeshare ! </h3>
  <h3 class="text-center celebrating2-phone">Homeshare International 20 years</h3>
</div>

<div class="container-fluid font-size-all green">
  <div class="text-center">
    <b><h2>FORMULAIRE D'INSCRIPTION (INDIVIDUEL)</h2></b>
  </div>
  <div>
    <p class="margin-text-about">Veuillez remplir le formulaire en ligne pour vous inscrire au 6ème Congr&egrave;s Mondial du Logement Intergénérationnel qui se tiendra à l'Auditorium de la Chancellerie BNP Paribas Fortis, <b>1, rue de la Chancellerie &agrave; Bruxelles, les 21 et 22 mars 2019.</b></p>
  </div>
  <p>&nbsp;</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="text-center">
    <div class="form-signin">
      <%= f.label :prénom %><br />
      <%= f.text_field :first_name, class: 'form-input' %>
    </div>
    <div class="field">
      <%= f.label :nom %><br />
      <%= f.text_field :last_name, class: 'form-input' %>
    </div>
    <div class="field">
      <%= f.label :association_ou_institution %><br />
      <%= f.text_field :organisation, class: 'form-input' %>
    </div>
    <div class="field">
      <%= f.label :adresse %><br />
      <%= f.text_field :address, class: 'form-input' %>
    </div>
    <div class="field">
      <%= f.label :ville %><br />
      <%= f.text_field :city, class: 'form-input' %>
    </div>
    <div class="field">
      <%= f.label :région_Province %><br />
      <%= f.text_field :state, class: 'form-input' %>
    </div>
    <div class="field">
      <%= f.label :code_postal_zip %><br />
      <%= f.text_field :zip, class: 'form-input' %>
    </div>
    <div class="field">
      <%= f.label :pays %><br />
      <%= f.text_field :country, class: 'form-input' %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email", class: 'form-input' %>
    </div>
    <div class="field">
      <%= f.label :téléphone %><br />
      <%= f.text_field :telephone, class: 'form-input' %>
    </div>
    <div class="field">
      <%= f.label :mobile %><br />
      <%= f.text_field :mobile, class: 'form-input' %>
    </div>
    <p>&nbsp;</p>
  </div>
  <div class="margin-text-about">
    <p>Veuillez noter que votre nom, organisation et adresse e-mail seront inclus dans les fichiers du Congr&egrave;s et que, sauf demande particulière de votre part, des photos seront prises durant l'événement.</p>
    <p>&nbsp;</p>
    <b><h3 class="padding-register">PRIX </h3></b>
<!--    <p class="font-size-welcome-intertitle">Citoyens belges</p>-->
<!--    <p>Congr&egrave;s 2 jours = 50 euros</p>-->
<!--    <p>R&eacute;duction pour les membres de 1toit2ages, &eacute;tudiants, seniors +65 = 25 euros</p>-->
<!--    <p>&nbsp;</p>-->
    <p class="font-size-welcome-intertitle">Membres du Réseau Homeshare International</p>
    <p>&bull; Cocktail Grand-Place (20/3) + Congr&egrave;s + d&icirc;ner de gala (21/3) = <b>180 €</b> (20 € de réduction pour toute inscription <u>avant le 20 janvier 2019 23:59</u>)</p>
    <p>Si vous souhaitez devenir membre du Réseau de Homeshare International, merci de vous inscrire en ligne <a class="pink-register" href="http://www.emailmeform.com/builder/form/5dUxK0sT67N47jY2c" target="_blank">ici</a> ou de compléter le formulaire suivant <a class="pink-register" href="https://homeshare.org/wp-content/uploads/HI-Network-application-form-1.pdf" target="_blank">HI Network application form</a>.</p>
    <p>Plus d’informations: <a class="pink-register" href="https://homeshare.org/network/" target="_blank" rel="noopener noreferrer">https://homeshare.org/network/</a></p>
    <p>&nbsp;</p>
    <p class="font-size-welcome-intertitle">Non membres du Réseau Homeshare International</p>
    <p>&bull; Congr&egrave;s + d&icirc;ner de gala (21/3) = <b>190 €</b> (20 € de réduction pour toute inscription <u>avant le 20 janvier 2019  23:59</u>)</p>
<!--    <p>Si vous &ecirc;tes accompagn&eacute;, cette personne est la bienvenue au dîner de Gala du 21 mars. Sa participation à la soirée sera de 50 euros (à payer lors de l'inscription).</p>-->
      <p>&bull; Congr&egrave;s 2 jours = <b>50 €</b> (25 € de réduction pour les adhérents de 1Toit2Ages, étudiants et seniors +65)</p>
    <p>&nbsp;</p>


    <div class="field">
      <%= f.check_box :members %>
      <%= f.label :membre %> (Si vous êtes membre du réseau homeshare, cochez la case)
    </div>
  </div>
  <p>&nbsp;</p>
  <div class="text-center">
    <b><p>Mode de participation</p></b>
    <div class="field hidden-xs">
      <%# if Date.today > Date.parse("2019-1-20") %>
      <% if Date.today > Date.parse("2019-1-20") %>
        <%= f.select :prices, ['Cocktail (20/3) + Congrès et  dîner (21/3) = 180 € (membres uniquement) ','Congrès 2 jours = 50 €', 'Adhérents 1Toit2Ages, étudiants, seniors +65 = 25 €',  'Congrès + dîner (21/3) = 190 €']%>
      <% else %>
        <%= f.select :prices, ['Cocktail (20/3) + Congrès et  dîner (21/3) = 160 € (membres uniquement) ','Congrès 2 jours = 50 €', 'Adhérents 1Toit2Ages, étudiants, seniors +65 = 25 €',  'Congrès + dîner (21/3) = 170 €']%>
      <% end %>
      <%#= f.select :prices, ['Cocktail (20/3) + Congrès et  dîner (21/3) = 160 € (membres uniquement) ','Congrès 2 jours = 50 €', 'Adhérents 1Toit2Ages, étudiants, seniors +65 = 25 €',  'Congrès + dîner (21/3) = 170 €']%>
    </div>
    <div class="field form-font-size-fr visible-xs">
      <%#= f.select :prices, ['Congrès 2 jours = 50 euros', 'Réduction pour les membres de 1Toit2Ages, étudiants, seniors +65 = 25 euros',' Cocktail (20/3) + Congrès et  dîner (21/3) = 160 euros', 'Cocktail (20/3) + Congrès et  dîner (21/3) = 180 euros', 'Congrès + dîner (21/3) = 170 euros', 'Congrès + dîner (21/3) = 180 euros']%>
      <% if Date.today > Date.parse("2019-1-20") %>
        <%= f.select :prices, ['Cocktail (20/3) + Congrès et  dîner (21/3) = 180 € (membres uniquement) ', 'Congrès 2 jours = 50 €', 'Adhérents 1Toit2Ages, étudiants, seniors +65 = 25 €', 'Congrès + dîner (21/3) = 190 €'] %>
      <% else %>
        <%= f.select :prices, ['Cocktail (20/3) + Congrès et  dîner (21/3) = 160 € (membres uniquement) ', 'Congrès 2 jours = 50 €', 'Adhérents 1Toit2Ages, étudiants, seniors +65 = 25 €', 'Congrès + dîner (21/3) = 170 €'] %>
      <% end %>
    </div>
    <p>&nbsp;</p>
    <b><p>Adresse de facturation (si différente) </p></b>
    <div class="field">
      <%= f.label :Nom %><br />
      <%= f.text_field :friend_name, class: 'form-input' %>
    </div>
    <div class="field">
      <%= f.label :Adresse %><br />
      <%= f.text_field :friend_address, class: 'form-input' %>
    </div>
    <p>&nbsp;</p>
    <p>Attention : Ces tarifs n'incluent pas l'h&eacute;bergement.</p>
    <p>&nbsp;</p>
    <b><p>PAIEMENT</p></b>
    <u><p>Merci de verser votre participation sur le compte de l&rsquo;ASBL :</p></u>
    <p>ING Bank - 1Toit2Ages</p>
    <p>IBAN BE39 3630 5564 6819</p>
    <p>BIC BBRUBEBB</p>
    <div class="actions">
      <%= f.submit "Enregistrement", :class => 'button-register' %>
    </div>
  </div>

  <% end %>
  <p>&nbsp;</p>
  <p class="text-center">Annulations reçues avant le 15 f&eacute;vrier 2019 : Remboursement de 75%. Annulations reçues jusqu'au 10 mars 2019 : Remboursement de 25%.
    <p class="text-center">Aucun remboursement apr&egrave;s le 10 mars .</p>
  </div>
  <div>
    <div class="text-center font-size-all green">
      <h2>CONTACT</h2>
      <p><strong class="font-size-welcome-intertitle">Homeshare International</strong><br />Elizabeth Mills &ndash;&nbsp;<a class="maile-color" href="mailto:Elizabeth@homeshare.org">Elizabeth@homeshare.org</a></p>

      <p><strong class="font-size-welcome-intertitle">1Toit2Ages</strong><br />Claire de Kerautem &ndash;&nbsp;<a class="maile-color" href="http://www.1toit2ages.be/fr/accueil.html">worldcongress@1toit2ages.be</a><br /></p>
    </div>
  </div>
</div>
