<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">
  <span class="languages2"><%= link_to "Français", :locale=>'fr'%></span>
  <span class="languages"><%= link_to "English", :locale=>'en'%></span>
</div>
<!-- phonepart -->
<div class=" above-navbar-phone visible-md visible-sm visible-xs text-center">
  <span class="languages2-phone"><%= link_to "Français", :locale=>'fr'%></span>
  <span class="languages"><%= link_to "English", :locale=>'en'%></span>
</div>
<div class="container-fluid text-center font-size-all green">
  <div>
    <h3>CONTACT</h3>
    <p><strong>Homeshare International</strong><br />Elizabeth Mills &ndash;&nbsp;<a class="maile-color" href="mailto:Elizabeth@homeshare.org">Elizabeth@homeshare.org</a></p>
    <p>&nbsp;</p>

    <p><strong>1TOIT2AGES</strong><br />Claire de Kerautem &ndash;&nbsp;<a class="maile-color" href="http://www.1toit2ages.be/fr/accueil.html">worldcongress@1toit2ages.be</a><br />Telephone number: (34) 91 394 6363</p>
  </div>
  <p>&nbsp;</p>

  <h4>REGISTER FORM (INDIVIDUAL)</h4>
  <div>
    <p>Please complete the online form to register for the World Homeshare Congress to be held at the Auditorium Chancellerie BNP Paribas Fortis : 1 rue de la Chancellerie in Brussels on 21st and 22nd March 2018.</p>
  </div>
  <p>&nbsp;</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


  <div class="form-signin">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :organization_ou_institution %><br />
    <%= f.text_field :organisation %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state_province_region %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :postal_code_zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br />
    <%= f.text_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :dietary %><br />
    <%= f.text_field :dietary %>
  </div>
  <div class="field">
    <%= f.check_box :check %>
    <%= f.label :check %>
  </div>
  <div class="field">
    <%= f.label :robot? %>
    <% if @minimum_password_length %>
    <em>(If you are not a robot type: homeshare)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :type_homeshare %><em> (Type it again*)</em><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>


  <p>Please note that your name, organization and email address will be included in the Congress paperwork, If you do not wish this information to be included, please contact us. Moreover, we will take pictures during the congress, if you don&rsquo;t allow us to publish please contact us.</p>
  <p>&nbsp;</p>
  <u><b><p>Prices</p></b></u>
  <p>&nbsp;</p>
  <u><p>Belgium citizens :</p></u>
  <p>Congress 2 days = 50 euros</p>
  <p>Reduction for members of 1Toit2Ages, students, seniors +65 = 20 euros</p>
  <p>&nbsp;</p>
  <u><p>Members of the Homeshare International :</p></u>
  <p>&middot; Congress and cocktail (20/3) + Dinner de Gala (21/3) = 150 euros</p>
  <p>(Registration before Jan 20th 2019)</p>
  <p>&middot; Congress and cocktail (20/3) + Dinner de Gala (21/3) = 170 euros</p>
  <p>(Registration after Jan 20th 2019)</p>
  <p>&nbsp;</p>
  <u><p>Non members of the Homeshare International :</p></u>
  <p>&middot; Congress and cocktail (20/3) + Dinner de Gala (21/3) = 170 euros</p>
  <p>(Registration before Jan 20th 2019)</p>
  <p>&middot; Congress and cocktail (20/3) + Dinner de Gala (21/3) = 190 euros</p>
  <p>(Registration after Jan 20th 2019)</p>
  <p>&nbsp;</p>
  <p>If you will be accompanied by a spouse or partner on your visit to Brussels, you are welcome to bring them to the Congress Dinner on the evening of 21st March. Please note that the cost for the dinner will be 50 Euros, and can be paid upon registration</p>
  <p>&nbsp;</p>
  <p>Members of the Homeshare International Network may register for the Congress for 150 Euros. Please tick here if you or your organisation are members.</p>
  <div class="field">
    <%= f.check_box :members %>
    <%= f.label :members %>
  </div>
  <p>&nbsp;</p>
  <b><p>Congress participation mode:</p></b>
  <div class="field">
    <%= f.select :prices, ['Congress 2 days = 50 euros', 'Reduction for members of 1Toit2Ages, students, seniors +65 = 20 euros','Congress and cocktail (20/3) + Dinner de Gala (21/3) = 150 euros', 'Congress and cocktail (20/3) + Dinner de Gala (21/3) = 170 euros', 'Congress and cocktail (20/3) + Dinner de Gala (21/3) = 170 euros', 'Congress and cocktail (20/3) + Dinner de Gala (21/3) = 190 euros']%>
  </div>

  <p>&nbsp;</p>
  <b><p>Invoice address if different from delegate address above:</p></b>
  <div class="field">
    <%= f.label :Complete_name %><br />
    <%= f.text_field :friend_name %>
  </div>
  <div class="field">
    <%= f.label :Address %><br />
    <%= f.text_field :friend_address %>
  </div>
  <p>&nbsp;</p>
  <p>The Congress rates do not include accommodation.</p>
  <p>&nbsp;</p>
  <b><p>Cancellation charge:</p></b>
  <p>Cancellations received before February 15 th 2019 25%;</p>
  <p>Up to 10th March 2019,75%;</p>
  <p>no refunds thereafter.</p>
  <p>&nbsp;</p>
  <b><p>Payment</p></b>
  <p>Thanks for your contribution on 1Toit2Ages account:</p>
  <p>IBAN BE39 3630 5564 6819</p>
  <p>BIC BBRUBEBB</p>
  <div class="actions">
    <%= f.submit "Register", :class => 'button-register' %>
  </div>
  <% end %>
</div>


