<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">
</div>
<!-- phonepart -->
<div class=" above-navbar-phone visible-md visible-sm visible-xs text-center">
</div>

<div class="register_bandeau hidden-md hidden-sm hidden-xs">
  <h3 class="text-center"><span class="celebrating1 float-left-celeb">1Toit2Ages 10 years</span> Celebrating Homeshare ! <span class="celebrating2 float-right-celeb">Homeshare International 20 years</span></h3>
</div>
<div class="register_bandeau visible-md visible-sm visible-xs">
  <h3 class="text-center celebrating1-phone">1Toit2Ages 10 years</h3>
  <h3 class="text-center"> Celebrating Homeshare ! </h3>
  <h3 class="text-center celebrating2-phone">Homeshare International 20 years</h3>
</div>
<div class="container-fluid font-size-all green">
  <div class="text-center">

    <h2>REGISTRATION FORM (INDIVIDUAL)</h2>
  </div>
  <div>
    <p class="margin-text-about">Please complete the online form to register for the 6th World Homeshare Congress to be held at the Auditorium Chancellerie BNP Paribas Fortis : <b>1, rue de la Chancellerie in Brussels on 21st and 22nd March 2019.</b></p>
  </div>
  <p>&nbsp;</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="text-center">
    <div class="form-signin">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, class: 'form-input' %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, class: 'form-input' %>
    </div>
    <div class="field">
      <%= f.label :organization_or_institution %><br />
      <%= f.text_field :organisation, class: 'form-input' %>
    </div>
    <div class="field">
      <%= f.label :address %><br />
      <%= f.text_field :address, class: 'form-input' %>
    </div>
    <div class="field">
      <%= f.label :city %><br />
      <%= f.text_field :city, class: 'form-input' %>
    </div>
    <div class="field">
      <%= f.label :state_province_region %><br />
      <%= f.text_field :state, class: 'form-input' %>
    </div>
    <div class="field">
      <%= f.label :postal_code_zip %><br />
      <%= f.text_field :zip, class: 'form-input' %>
    </div>
    <div class="field">
      <%= f.label :country %><br />
      <%= f.text_field :country, class: 'form-input' %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email", class: 'form-input' %>
    </div>
    <div class="field">
      <%= f.label :telephone %><br />
      <%= f.text_field :telephone, class: 'form-input' %>
    </div>
    <div class="field">
      <%= f.label :mobile %><br />
      <%= f.text_field :mobile, class: 'form-input' %>
    </div>
  </div>
  <div class="margin-text-about">
    <p>&nbsp;</p>
    <p ">Please note that your name, organisation and email address will be included in the Congress paperwork. </p>
    <p">If you do not wish this information to be included, please contact us. Moreover, we will take pictures during the congress; if you prefer not to be photographed please contact us.</p>
    <p>&nbsp;</p>
  </div>
  <div class="margin-text-about">
    <b><h3 class="padding-register">PRICES</h3></b>
    <!--    <p class="font-size-welcome-intertitle">Belgian citizens</p>-->
    <!--    <p>Congress 2 days = 50 euros</p>-->
    <!--    <p>Reduction for members of 1toit2ages, students, seniors +65 = 25 euros</p>-->
    <!--    <p>&nbsp;</p>-->

    <p class="font-size-welcome-intertitle">Members of the Homeshare International Network</p>
    <p>&bull; Cocktail Grand Place (20/3) + Full Congress + Gala Diner (21/3) =  <b>160 €</b> (180 € for Registration <u> after Jan 20th 2019 23:59</u>)</p>
    <p>&bull; Full Congress = <b>50 €</b></p>
    <p>Membership is open to homeshare program and to organisations and individuals who support the homeshare concept.  To join the Homeshare International Network, please register online <a class="pink-register" href="http://www.emailmeform.com/builder/form/5dUxK0sT67N47jY2c" target="_blank">here</a> or print off and complete the <a class="pink-register" href="https://homeshare.org/wp-content/uploads/HI-Network-application-form-1.pdf" target="_blank">HI Network application form</a>.</p>
    <p>More information: <a class="pink-register" href="https://homeshare.org/network/" target="_blank" rel="noopener noreferrer">https://homeshare.org/network/</a></p>
    <p>&nbsp;</p>
    <p class="font-size-welcome-intertitle">Non members of the Homeshare International Network</p>
    <p>&bull; Full Congress + Gala Diner (21/3) =  <b>170 €</b> (190 € for registration <u> after Jan 20th 2019 23:59</u>)</p>
    <p>&bull; Full Congress = <b>50 €</b></p>
    <p>&bull; Full Congress : 1toit2ages members, students or seniors = <b>25 €</b></p>
    <p>&nbsp;</p>
    <!--    <p>Members of the Homeshare International Network may register for the Congress for 150 Euros. Please tick here if you or your organisation are members.</p>-->
    <div class="field">
      <%= f.check_box :members %>
      <%= f.label :members %> (Please tick here if you or your organisation are members  of the Homeshare International Network)
    </div>
    <p>&nbsp;</p>
  </div>
  <div class="text-center">
    <b><p>Congress participation mode</p></b>
    <p>Click the drop down menu to make your selection :</p>
    <div class="field hidden-xs">
      <% if Date.today > Date.parse("2019-1-20") %>
      <%= f.select :prices, ['Cocktail (20/3) + Congress + Gala Diner (21/3)  = 180 € (members only) ', 'Full Congress = 50 €', 'Members of 1Toit2Ages, students, seniors = 25 €', 'Full Congress + Gala Diner (21/3) = 190 €'] %>
      <% else %>
      <%= f.select :prices, ['Cocktail (20/3) + Congress + Gala Diner (21/3)  = 160 € (members only) ', 'Full Congress = 50 €', 'Members of 1Toit2Ages, students, seniors = 25 €', 'Full Congress + Gala Diner (21/3) = 170 €'] %>
      <% end %>
    </div>
    <!-- Dietary est égal à prices2 -->
    <div class="field form-font-size visible-xs">
      <% if Date.today > Date.parse("2019-1-20") %>
      <%= f.select :dietary, ['Cocktail (20/3) + Congress + Gala Diner (21/3)  = 180 € (members only) ', 'Full Congress = 50 €', 'Members of 1Toit2Ages, students, seniors = 25 €', 'Full Congress + Gala Diner (21/3) = 190 €'] %>
      <% else %>
      <%= f.select :dietary, ['Cocktail (20/3) + Congress + Gala Diner (21/3)  = 160 € (members only) ', 'Full Congress = 50 €', 'Members of 1Toit2Ages, students, seniors = 25 €', 'Full Congress + Gala Diner (21/3) = 170 €'] %>
      <% end %>
    </div>





    <p>&nbsp;</p>
    <b><p>Invoice address if different from delegate address above</p></b>
    <div class="field">
      <%= f.label :Complete_name %><br />
      <%= f.text_field :friend_name, class: 'form-input' %>
    </div>
    <div class="field">
      <%= f.label :Address %><br />
      <%= f.text_field :friend_address, class: 'form-input' %>
    </div>
    <p>&nbsp;</p>
    <p>The Congress rates do not include accommodation.</p>
    <p>&nbsp;</p>
    <b><p>PAYMENT</p></b>
    <p>Thanks for your contribution on 1Toit2Ages account</p>
    <p>IBAN BE06 3631 7546 1522</p>
    <p>BIC BBRUBEBB</p>
    <div class="actions">
      <%= f.submit "Register", :class => 'button-register' %>
    </div>
  </div>
  <% end %>
  <p>&nbsp;</p>
  <div class="text-center">
    <p><i>Cancellations received before February 15th 2019 75% refund. Up to 10th March 2019, 25% refund, no refunds thereafter.</i></p>
    <div>
      <p>&nbsp;</p>
      <h3>Paypal payment</h3>
      <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >

        <input type="hidden" name="cmd" value="_cart">

        <input type="hidden" name="business" value="elizabeth@homeshare.org">

        <input type="hidden" name="lc" value="GB">

        <input type="hidden" name="item_name" value="World Homeshare Congress 2019 - delegate registration">

        <input type="hidden" name="button_subtype" value="products">

        <input type="hidden" name="no_note" value="0">

        <input type="hidden" name="currency_code" value="EUR">

        <input type="hidden" name="add" value="1">

        <input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHostedGuest">
        <table>

          <input type="hidden" name="on0" value="Delegate rates for Congress">
          <select name="os0">
            <option value="Full Congress: Members of HI Network">Full Congress: Members of HI Network €160.00 EUR</option>

            <option value="Full Congress: Members of HI Network after 20 January 2019">Full Congress: Members of HI Network after 20 January 2019 €180.00 EUR</option>

            <option value="Full Congress: Non-members">Full Congress: Non-members €170.00 EUR</option>

            <option value="Full Congress: Non-members after 20 January 2019">Full Congress: Non-members after 20 January 2019 €190.00 EUR</option>

            <option value="Congress without dinner">Congress without dinner €50.00 EUR</option>

            <option value="Members of UnToit2Ages, students and seniors without dinner">Members of UnToit2Ages, students and seniors without dinner €25.00 EUR</option>

          </select>
          <p>&nbsp;</p>

        </table>

        <input type="hidden" name="option_select0" value="Full Congress: Members of HI Network">

        <input type="hidden" name="option_amount0" value="160.00">

        <input type="hidden" name="option_select1" value="Full Congress: Members of HI Network after 20 January 2019">

        <input type="hidden" name="option_amount1" value="180.00">

        <input type="hidden" name="option_select2" value="Full Congress: Non-members">

        <input type="hidden" name="option_amount2" value="170.00">

        <input type="hidden" name="option_select3" value="Full Congress: Non-members after 20 January 2019">

        <input type="hidden" name="option_amount3" value="190.00">

        <input type="hidden" name="option_select4" value="Congress without dinner">

        <input type="hidden" name="option_amount4" value="50.00">

        <input type="hidden" name="option_select5" value="Members of UnToit2Ages, students and seniors without dinner">

        <input type="hidden" name="option_amount5" value="25.00">

        <input type="hidden" name="option_index" value="0">

        <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">

        <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">

      </form>

      <h2>CONTACT</h2>
      <p><strong class="font-size-welcome-intertitle">Homeshare International</strong><br />Elizabeth Mills &ndash;&nbsp;<a class="maile-color" href="mailto:Elizabeth@homeshare.org">Elizabeth@homeshare.org</a></p>

      <p ><strong class="font-size-welcome-intertitle">1Toit2Ages</strong><br />Claire de Kerautem &ndash;&nbsp;<a class="maile-color" href="http://www.1toit2ages.be/fr/accueil.html">worldcongress@1toit2ages.be</a><br /></p>
    </div>
  </div>
</div>






