<p>Voici les informations :</p>
<p><%= @user.first_name %> <%= @user.last_name %></p>

<% if @user.dietary != "Cocktail (20/3) + Congress + Gala Diner (21/3)  = 180 € (members only) "%>
<% @user.prices = @user.dietary %>
<% end %>
<p><em>inscrit à : <%= @user.prices %></em></p>

<p>organization: <%= @user.organisation %></p>
<p>address: <%= @user.address %></p>
<p>city: <%= @user.city %></p>
<p>state: <%= @user.state %></p>
<p>codal zip: <%= @user.zip %></p>
<p>country: <%= @user.country %>
<p>email: <%= @user.email %></p>
<p>telephone: <%= @user.telephone %></p>
<p>mobile: <%= @user.mobile %></p>
<p>member: <%= @user.members %></p>
<p>+1: <%= @user.friend_name %></p>
<p>+1 address: <%= @user.friend_address %></p>
