<b><p>Hi <%= @user.first_name %>,</p></b>

<p>Congrats you are successfuly registered in our event!</p>

<p><%= @user.first_name %>, you have chosen the option :<%= @user.prices %></p>
<b><p>Payment</p></b>
<p>Thanks for your contribution on 1Toit2Ages account:</p>
<p>IBAN BE39 3630 5564 6819</p>
<p>BIC BBRUBEBB</p>
<p>&nbsp;</p>

<p>Here are your informations (if there is somthing wrong please tell us at this address : matthieulombard@1toit2ages.be) :</p>
<p>&nbsp;</p>
<p><%= @user.first_name %> <%= @user.last_name %>,organization: <%= @user.organization_ou_institution %>,address: <%= @user.address %>,city: <%= @user.city %>,state: <%= @user.state %>,codal zip: <%= @user.zip %>,country: <%= @user.country %>,email: <%= @user.email %>,telephone: <%= @user.telephone %>,mobile: <%= @user.mobile %>,dietary: <%= @user.dietary %>, member: <%= @user.members %>,+1: <%= @user.friend_name %>,+1 address: <%= @user.friend_address %></p>
<p>&nbsp;</p>
<p>See ya!</p>
