<p>Bonjour <%= @user.first_name %>,</p>

<p>Félicitations, votre demande d'inscription a bien été enregistrée!</p>

<p><%= @user.first_name %>, vous avez choisi l'option :<%= @user.prices %></p>
<b><p>Paiement</p></b>
<u><p>Merci pour votre paiement sur le compte de l&rsquo;ASBL :</p></u>
<p>ING Bank - 1Toit2Ages</p>
<p>IBAN BE39 3630 5564 6819</p>
<p>BIC BBRUBEBB</p>

<p>&nbsp;</p>
<p><%= @user.first_name %> <%= @user.last_name %></p>
<p>organisation: <%= @user.organisation %></p>
<p>address: <%= @user.address %></p>
<p>ville: <%= @user.city %></p>
<p>state: <%= @user.state %></p>
<p>zip: <%= @user.zip %></p>
<p>country: <%= @user.pays %></p>
<p>email: <%= @user.email %></p>
<p>telephone: <%= @user.telephone %></p>
<p>mobile: <%= @user.mobile %></p>
<p>dietary: <%= @user.dietary %></p>
<p>member: <%= @user.members %></p>
<p>+1: <%= @user.friend_name %></p>
<p>+1 address: <%= @user.friend_address %></p>
<p>&nbsp;</p>
<p>A bientôt!</p>
