<head>
  <title>Homeshare International | Benefits of Homeshare</title>
  <meta name="description" content="Homeshare brings together two people in a home for mutual benefit. In the majority of cases, it matches older people at their homes with youngsters, many times university students, for them to give each other company in an experience of mutual learning and of intergenerational solidarity.">
</head>
<div class=" above-navbar hidden-xs text-center">
</div>

<div class=" above-navbar-phone visible-xs text-center">
</div>



<div class="container-fluid bg-2" style="padding-left:unset;padding-right: unset;">
  <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12 TopImageContainer">
    <div class="toppage-img about-img  text-center">
    </div>
    <!--    padding-img-->
      <div class="WelcomeTxtOnImage "><%= raw t :About_ImageTitle %> </div>
  </div>


<!--  <div class="container-fluid hidden-xs about-img padding-img text-center">-->
<!--  </div>-->

<!--  <!-- phone part -->
<!--  <div class="container-fluid visible-xs about-img-phone padding-img-phone text-center">-->
<!--  </div>-->

  <div class="container-fluid bg-2 font-size-all">
    <div class="col-sm-12 col-xs-12  col-lg-6 col-lg-offset-3  col-md-8 col-md-offset-2">
      <p></p>
      <p class="font-size-welcome-intertitle text-uppercase"><%= raw t :About_Title1 %></p>
      <p class=" text-justify"><%= raw t :About_Text1 %></p>
      <p class=" text-justify"><%= raw t :About_Text2 %></p>
    </div>
  </div>

  <div class="container-fluid bg-3 font-size-all">
    <div class="col-sm-12 col-xs-12  col-lg-6 col-lg-offset-3  col-md-8 col-md-offset-2">
      <p class="font-size-welcome-intertitle"><%= raw t :About_Title2 %></p>
      <p class="text-justify">&bull; <%= raw t :About_Text2_1 %></p>
      <p class="text-justify">&bull; <%= raw t :About_Text2_2 %></p>
      <p class="text-justify">&bull; <%= raw t :About_Text2_3 %></p>
      <p class="text-justify">&bull; <%= raw t :About_Text2_4 %></p>
      <p class="text-justify">&bull; <%= raw t :About_Text2_5 %></p>
      <p class="text-justify">&bull; <%= raw t :About_Text2_6 %></p>
    </div>
  </div>

  <div class="container-fluid bg-2 font-size-all">
    <div class="col-sm-12 col-xs-12  col-lg-6 col-lg-offset-3  col-md-8 col-md-offset-2">
      <p class="font-size-welcome-intertitle"><%= raw t :About_Title3 %></p>
      <p class="text-justify">&bull; <%= raw t :About_Text3_1 %></p>
      <p class="text-justify">&bull; <%= raw t :About_Text3_2 %></p>
      <p class="text-justify">&bull; <%= raw t :About_Text3_3 %></p>
      <p class="text-justify">&bull; <%= raw t :About_Text3_4 %></p>
      <p class="text-justify">&bull; <%= raw t :About_Text3_5 %></p>

      <p class="font-size-welcome-intertitle"><u><%= raw t :About_Title3B %></u></p>
      <p class="text-justify">&middot;<%= raw t :About_Text3B_1 %> </p>
      <p class="text-justify">&middot;<%= raw t :About_Text3B_2 %> </p>
      <p class="text-justify">&middot;<%= raw t :About_Text3B_3 %> </p>
      <p class="text-justify">&middot;<%= raw t :About_Text3B_4 %> </p>
    </div>
  </div>


  <div class="container-fluid bg-3 font-size-all">
    <div class="col-sm-12 col-xs-12  col-lg-6 col-lg-offset-3  col-md-8 col-md-offset-2">
      <p class="font-size-welcome-intertitle"><%= raw t :About_Title4 %></p>
      <p class="text-justify">&bull; <%= raw t :About_Text4_1 %></p>
      <p class="text-justify">&bull; <%= raw t :About_Text4_2 %></p>
      <p class="text-justify">&bull; <%= raw t :About_Text4_3 %></p>
<!--      <p class="text-justify">&bull; <%#= raw t :About_Text4_4 %></p>-->
<!--      <p class="text-justify">&bull; <%#= raw t :About_Text4_5 %></p>-->

      <p class="font-size-welcome-intertitle"><u><%= raw t :About_Title4B %></u></p>
      <p class="text-justify">&middot;<%= raw t :About_Text4B_1 %> </p>
      <p class="text-justify">&middot;<%= raw t :About_Text4B_2 %> </p>
      <p class="text-justify">&middot;<%= raw t :About_Text4B_3 %> </p>
      <p class="text-justify">&middot;<%= raw t :About_Text4B_4 %> </p>
    </div>
  </div>
</div>
