<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">
</div>
<!-- phone part -->
<div class=" above-navbar-phone visible-md visible-sm visible-xs text-center">
</div>

<!--<div class="container-fluid hidden-xs padding-img text-center flag-img">-->
<!--</div>-->
<!-- phone part -->
<!--<div class="container-fluid visible-xs text-center padding-img-phone flag-img-phone ">-->
<!--</div>-->

<div class="container-fluid bg-2" style="padding-left:unset;padding-right: unset;">
  <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12 TopImageContainer">
    <div class="toppage-img flag-img  text-center">
    </div>
    <!--    padding-img-->
      <div class="WelcomeTxtOnImage "><%= raw t :HSI_Title %> </div>
  </div>


  <div class="container-fluid bg-2 font-size-all">
    <div class="col-sm-12 col-xs-12  col-lg-6 col-lg-offset-3  col-md-8 col-md-offset-2 text-justify">
<!--      <b class="font-size-welcome-title"><p><%#= raw t :HSI_Title %></p></b>-->
      <p></p>
      <p><%= raw t :HSI_Text1 %></p>
      <p><%= raw t :HSI_Text2 %></p>
      <p><%= raw t :HSI_Text3 %></p>
      <p><%= raw t :HSI_Text4 %></p>
      <p class="text-center"><%= raw t :HSI_Text5 %> <b> <a href="https://homeshare.org" target="_blank">https://homeshare.org</a></b></p>
    </div>
  </div>
</div>
