<head>
  <title>Homeshare International | 6th World Homeshare Congress 2019</title>
  <meta name="description" content="Register now for the 6th World Homeshare Congress that will take place on 21-22 MARCH 2019 in Brussels ! Whether you are already involved with a homeshare program or are thinking about starting one for your community.. Come and share your news and help to develop your network! Meet others from around the world with whom to share your experience, and learn from one another.">
</head>
<%= provide(:keywords, 'Homeshare, Congress, World, March, 2019') %>

<!--adding litle container for languages-->
<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">
</div>

<!-- phone part -->
<div class=" above-navbar-phone-2 visible-md visible-sm visible-xs text-center">
</div>

<!-- First Container -->
<div class="container-fluid bg-2" style="padding-left:unset;padding-right: unset;">
  <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12 TopImageContainer">
    <div class="container-fluid  toppage-img  welcome-bxl-img text-center">
    </div>
    <!--    padding-img-->
    <div class="WelcomeTxtOnImage "><%= raw t :WTB_ImageLabel %> </div>
  </div>
  <!--  <div class="col-lg-3 col-md-3 hidden-xs hidden-sm"></div>-->


<!-- <h3 class="welcome_to_brussels-title-police"> 6TH WORLD HOMESHARE CONGRESS!</h3> -->
<!-- phone part -->
<!--<div class="row container-fluid visible-xs padding-img-phone welcome_to_brussels-img-phone text-center"></div>-->


<!-- Second Container -->
<!--<div class="container-fluid bg-2 font-size-all col-lg-12">-->

<div class="container-fluid bg-2 font-size-all col-sm-12 col-xs-12  col-lg-6 col-lg-offset-3  col-md-8 col-md-offset-2 text-center">
  <!--<div class="container-fluid bg-2 text-center font-size-all">-->
  <!-- <b><h3>Discover Belgium in video !</b></h3>
  <p><u><span lang="FR-BE"><a href="https://m.facebook.com/story.php?story_fbid=1335205729834742&amp;id=908357695852883" target="_blank" rel="noopener noreferrer">https://m.facebook.com/story</a>&nbsp;</span></u></p>
  <p>&nbsp;</p> -->
  <b class="font-size-welcome-title"><p ><%= t :WTB_ToSee %></p></b>
  <p><a href="https://visit.brussels/<%= I18n.locale.to_s %>" target="_blank"><%= t :WTB_VisitBrussels %></a></p>
  <p><a href="https://www.ceetiz.fr/bruxelles?gclid=CjwKCAiAlL_UBRBoEiwAXKgW52BevZFO-K66WCYJgkdcFPYt0PT-Bo_qXrXK5slO-EDEZUXxL7vH4hoCG34QAvD_BwE" target="_blank"><%= t :WTB_BrusselsTouristicInformation %></a></p>
  <p><a href="https://www.viree-malin.fr/visiter-bruxelles-2-jours/" target="_blank"><%= t :WTB_BrusselsGuideThingsToDo %></a></p>
  <p>&nbsp;</p>
  <b class="font-size-welcome-title" target="_blank"><p><%= t :WTB_ToMove %></p></b>
  <p><a href="http://www.stib-mivb.be/index.htm?l=fr" target="_blank"><%= t :WTB_STIB %></a></p>
  <p><a href="https://www.google.be/maps/place/Grand+Place/@50.8455218,4.3497041,16z/data=!4m5!3m4!1s0x47c3c47f4614f1f1:0xb03c355d8fe2cfb6!8m2!3d50.8467316!4d4.3524138?hl=en&quot;" target="_blank"><%= t :WTB_CongressMap %></a></p>
  <p><a href="https://www.google.be/maps/place/Grand+Place/@50.8455218,4.3497041,16z/data=!4m5!3m4!1s0x47c3c47f4614f1f1:0xb03c355d8fe2cfb6!8m2!3d50.8467316!4d4.3524138?hl=en" target="_blank"><%= t :WTB_BrusselsMap %></a></p>
  <p><a href="http://www.meteo-bruxelles.be/previsions.php" target="_blank"><%= t :WTB_BrusselsWeather %></a></p>
  <p>&nbsp;</p>
  <b class="font-size-welcome-title"><p><%= t :WTB_HouseNextByGrandPlace %></p></b>
  <p><%= raw t :WTB_GrandPlaceText %></p>
  <!--  <p></p>-->
  <p>&nbsp;</p>
  <b class="font-size-welcome-intertitle"><p><%= t :WTB_50100PerNight %></p></b>
  <p><a href="http://www.maxhotel.be/#2" target="_blank">Max Hotel</a></p>
  <p><a href="http://www.lavieillelanterne.be/hotel/home.html" target="_blank">La Vieille Lanterne</a></p>
  <p><a href="http://hotel-stalingrad.brussels-hotels.net/fr/" target="_blank">Hotel Stalingrad</a></p>
  <p><a href="http://www.hotelmanhattan.be/fr/" target="_blank">Hotel Manhattan</a></p>
  <p><a href="http://la-madeleine-brussels.brussels-hotels.net/fr/?from=2019-03-21&amp;to=2019-03-22&amp;adults=2&amp;currency=3&amp;children=0&amp;subacc=althotel613935-s116399&amp;page=main" target="_blank">La Madeleine</a></p>
  <p>&nbsp;</p>
  <b class="font-size-welcome-intertitle"><p><%= t :WTB_100150PerNight %></p></b>
  <p><a href="https://secure.accorhotels.com/store/index.html#/en/hotels?dateIn=2019-03-21&amp;brands=ALL&amp;adults=1&amp;origin=accorhotels&amp;geoCode=V0627&amp;comfort_level=ALL&amp;services=&amp;domainId=https:%2F%2Fwww.accorhotels.com&amp;geoType=VI&amp;children=&amp;nights=1" target="_blank">Ibis and Novotel Hotels</a></p>
  <p><a href="blocked::%20http:/www.hotelmarivaux.be/en" target="_blank">Marivaux Hotel</a></p>
  <p>&nbsp;</p>
  <b class="font-size-welcome-intertitle"><p><%= t :WTB_mt150PerNight %></p></b>
  <p><a href="http://www.hotellalegende.com/en" target="_blank">La Légende Hôtel</a></p>
  <p><a href="https://www.safestay.com/brussels" target="_blank">Safestay-Brussels</a></p>
  <p>&nbsp;</p>
  <p><a class="font-size-welcome-intertitle" href="https://www.french.hostelworld.com/search?dia=500&amp;number_of_guests=2&amp;date_to=2019-03-21&amp;date_from=2019-03-22&amp;city=Bruxelles&amp;country=Belgique&amp;search_keywords=Bruxelles%2C+Belgique" target="_blank"><%= t :WTB_Hostel %></a></p>
  <p><a class="font-size-welcome-intertitle" href="http://booking.com" target="_blank">Booking.com</a></p>
  <p>&nbsp;</p>
  <b><p><a href="http://bb-vaudeville.brussels-hotels.net/fr/?from=2019-03-21&amp;to=2019-03-22&amp;adults=1&amp;children=0#rooms" target="_blank"><span style="font-size: 16pt;"><%= t :WTB_OurBestAdvice %></span></a></p></b>

</div>
  <div class="container-fluid bg-2 font-size-all col-sm-12 col-xs-12  col-lg-8 col-lg-offset-2  col-md-8 col-md-offset-2 text-center" style="height: 500px; margin-bottom:75px;">
    <b class="font-size-welcome-title"><p ><%= t :WTB_CongressMap %></p></b>
    <div class=""><div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Rue de la Chancellerie 1, 1000 Bruxelles&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="1" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.mapouter{overflow:hidden;height:100%;width:100%;}.gmap_canvas {background:none!important;height:100%;width:100%; padding-bottom: 50px;}</style></div>

  </div>

</div>
