<head>
  <title>Homeshare International | 6th World Homeshare Congress 2019</title>
  <meta name="description" content="Register now for the 6th World Homeshare Congress that will take place on 21-22 MARCH 2019 in Brussels ! Whether you are already involved with a homeshare program or are thinking about starting one for your community.. Come and share your news and help to develop your network! Meet others from around the world with whom to share your experience, and learn from one another.">
</head>
<%= provide(:keywords, 'Homeshare, Congress, World, March, 2019') %>

<!--adding litle container for languages-->
<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">
</div>

<!-- phone part -->
<div class=" above-navbar-phone visible-md visible-sm visible-xs text-center">
</div>

<!-- First Container -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
  <div class="container-fluid padding-img welcome-img text-center">
<!--    hidden-xs-->
  </div>
<!--  <img src="Home2.jpg">-->
  <div class="HomeTxtOnImage "><%= raw t :Home_ImageLabel %> </div>
</div>
<div class="col-lg-3 col-md-3 hidden-xs hidden-sm"></div>
</div>

<!-- <h3 class="welcome-title-police"> 6TH WORLD HOMESHARE CONGRESS!</h3> -->
<!-- phone part -->
<!--<div class="row container-fluid visible-xs padding-img-phone welcome-img-phone text-center"></div>-->


<!-- Second Container -->
<!--<div class="container-fluid bg-2 font-size-all col-lg-12">-->
<div class="container-fluid bg-2 font-size-all col-sm-12 col-xs-12  col-lg-6 col-lg-offset-3  col-md-8 col-md-offset-2 bg-2">
  <p class="x_MsoNormal date-size text-center"><%= raw t :Home_Titre1 %></p>
  <p class="x_MsoNormal text-center"><a class= "pink" href=" https://youtu.be/4oB4ssidT5s" target="_blank" rel="noopener noreferrer"><strong><%= t :Home_Titre2 %></strong></a></p>
  <p class="text-justify"><%= t :Home_Texte %></p>
</div>
<div class="bg-2 text-center">
  <p class="x_MsoNormal button "><a class= "white" href="http://www.hiworldcongressbrussels2019.com/users/sign_up?locale=<%= I18n.locale.to_s %>" rel="noopener noreferrer"><strong><%= raw t :Home_RegisterPlease %></strong></a></p>
  <p class="x_MsoNormal">&nbsp;</p>
</div>

<div class="container-sponsors hidden-xs">
  <a class="navbar-brand sponsor1-height sponsor1-img" href="#"></a>
  <a class="navbar-brand sponsor2-height sponsor2-img" href="#"></a>
  <a class="navbar-brand sponsor3-height sponsor3-img" href="#"></a>
  <a class="navbar-brand sponsor4-height sponsor4-img" href="#"></a>
  <a class="navbar-brand sponsor5-height sponsor5-img" href="#"></a>
</div>

<div class="container-sponsors-phone visible-xs">
  <a class="navbar-brand sponsor1-height-phone sponsor1-img-phone" href="#"></a>
  <a class="navbar-brand sponsor2-height-phone sponsor2-img-phone" href="#"></a>
  <a class="navbar-brand sponsor3-height-phone sponsor3-img-phone" href="#"></a>
  <a class="navbar-brand sponsor4-height-phone sponsor4-img-phone" href="#"></a>
  <a class="navbar-brand sponsor5-height-phone sponsor5-img-phone" href="#"></a>
</div>

<!-- Third Container (Grid) sponsors -->



