
<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">`
</div>

<div class=" above-navbar-phone-2 visible-md visible-sm visible-xs text-center">
</div>

<div class="row">
  <div class="container-fluid bg-2" style="padding-left:unset;padding-right: unset;">
    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12 TopImageContainer">
      <div class="toppage-img hands-img  text-center">
      </div>
      <!--    padding-img-->
      <div class="WelcomeTxtOnImage "><%= raw t :Prog_ImageLabel %> </div>
      <p></p>
    </div>

    <p></p>

  </div>
</div>
<div class="register_bandeau prog-bandeau hidden-md hidden-sm hidden-xs">
  <h3 class="text-center"><%= raw t :Prog0_Txt0 %></h3>
  <p class="text-center"><%= raw t :Prog0_Txt1 %></p>
</div>
<div class="register_bandeau prog-bandeau visible-md visible-sm visible-xs">
  <h3 class="text-center"><%= raw t :Prog0_Txt0 %></h3>`
  <p class="text-center"><%= raw t :Prog0_Txt1 %></p>
</div>
<div class="row text-justify font-size-all bg-3">
  <div class="col-md-4 prog-marg-top prog-right hidden-xs hidden-sm">
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space">8h00-9h00&nbsp;</p>
    <p class="prog-space">9h00-9h03&nbsp;</p>
    <p class="prog-space">9h03-9h15&nbsp;</p>
    <p class="prog-space1">&nbsp;</p>

    <p class="prog-space">9h15-9h30&nbsp;</p>
    <p class="prog-space2">9h30-9h45</p>
    <p class="prog-space">9h45-10h00&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">10h00-10h45</p>
    <p>&nbsp;</p>
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space">10h45-11h00&nbsp;</p>
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space">11h00-11h30&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">11h30- 11h45&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">11h45-12h30&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">12h30-14h00</p>
    <p class="prog-space2">14h00-14h30</p>
    <p>14h30-15h00&nbsp;</p>
    <p>&nbsp;</p>
    <p>15h05-16h30&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">16h30-17h00&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space1">17h00-18h00&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">20h30&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">8h30-9h00</p>
    <p class="prog-space">9h00-9h45</p>
    <p>&nbsp;</p>
    <p class="prog-space">9h50-10h40</p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p class="prog-space">10h40-11h10</p>
    <p>&nbsp;</p>
    <p class="prog-space">11h10-12h00</p>
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space1">12h00-12h15</p>
    <p class="prog-space">12h15-13h00</p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p class="prog-space">15h00 </p>
  </div>
  <div class="col-md-4 prog-marg-top hidden-xs hidden-sm">
    <b class="text-center " style="text-transform:uppercase"><h3 class="day1-font-size prog-spaceday">Day 1 : Thursday, 21 March 2019</h3></b>
    <p class="prog-space"><strong>Registration</strong></p>
    <p class="prog-space"><strong>1toit2ages Video</strong></p>
    <p><strong>Welcome: </strong>Moderator : Régis de kerautem</p>
    <p class="prog-space"><strong>Claire de Kerautem,</strong> Director of 1Toit2Ages and <strong>Cheryl Snider</strong>, Chair of Homeshare International</p>
    <p><strong>C&eacute;line Fr&eacute;mault,</strong>&nbsp;Brussels Housing Minister</p>
    <p><strong>Alain Leveque</strong>, Vice-Rector of the Brussels University &ndash;&nbsp;ULB -Universit&eacute; Libre de Bruxelles</p>
    <p class="prog-space"><strong>Householders and their homesharers share their experiences</strong></p>
    <p><strong>The Nan Maitland Memorial Lecture: Professor Malcolm Johnson</strong>, President of Homeshare International, Director of the International Institute on Health and Ageing (UK).&nbsp;<strong>Results of research introducing four-year olds into care homes.</strong></p>
    <p><strong>Delphine Liegeois.</strong>&nbsp;Homesharing Social Impact Measurement by Solidarios- Spain</p>
    <p>&nbsp;</p>
    <p>Coffee break</p>
    <p>&nbsp;</p>
    <p><b>Presentation of the project Erasmus+ toitplusmoi.eu&nbsp;:</b> Violaine Leyder Cnav (France), Etienne Drapeau (ESN), Joachim Pasquet (le COSI France), Delphine Li&eacute;geois (Solidarios -Spain), Claire de Kerautem (1toit2Ages- Belgium)</p>
    <p><strong>What is the role of Technology in Homeshare Matching?&nbsp;</strong>With <strong>Violaine Leyder</strong> from CARSAT (France) first European online matching platform, <strong>Noelle Marcus</strong>, Director of Nesterly (USA) a new platform that pairs older homeowners with young renters and <strong>Kirby Dunn</strong>, CEO HomeShare Vermont (USA). Moderator: <strong>Marlene Welzl</strong> (Austria)</p>
    <p class="prog-space">Lunch with opportunities for networking</p>
    <p><strong>Political investment in homesharing:</strong>&nbsp;<strong>Cho Jae Suhn</strong> (South Korea)</p>
    <p class="prog-space"><strong>Homeshare in Japan:</strong>&nbsp;<strong>Kubota Hiroyuki and Kayuzo Sonohara</strong></p>
    <p><strong>Speed networking</strong>&nbsp;: Delegates from a wide range of experience and knowledge have the opportunity to meet, question and compare notes with practitioners and homeshare participants from around the world</p>
    <p>&nbsp;</p>
    <p class="prog-space">Coffee break</p>
    <p>&nbsp;</p>
    <p class="prog-space2"><strong>Marketing the concept of intergenerational cohabitation (homeshare) to major companies, in the context of Corporate Social Responsibility&nbsp;</strong> by <strong>Jean-Renaud d&rsquo;Elissagaray</strong> (France)</p>
    <p><strong>Gala Dinner: Homeshare International 20th birthday</strong></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h3 class="day1-font-size prog-spaceday">DAY 2 : FRIDAY, 22 MARCH 2019</h3>
    <p class="prog-space"><strong>Delegates to arrive. Coffee</strong></p>
    <p>"What is the European Union doing for the elderly?"by <strong>Anne Sophie Parent</strong>, Secretary General of AGE Platform Europe</p>
    <p><strong>Workshops</strong>&nbsp;(delegates to choose one)</p>
    <p class="underline">* Housing and Ageing</p>
    <p><strong>Damien Vanneste</strong>, Lecturer in Sociology</p>
    <p class="underline">* Why and How to measure social impact</p>
    <p><strong>Odile Dayez</strong>, Communication and Marketing Director of Les Petits Riens</p>
    <p>(Belgium)</p>
    <p class="underline">* Homeshare schemes working with technology</p>
    <p><strong>Marlene Welzl, Manuel Schuler and Lukas Hecke</strong> from Gemeinsam</p>
    <p>Wohnen (Austria)</p>
    <p class="underline">* Taking a National approach to Homeshare development</p>
    <p><strong>Beris Campbell, OAM,</strong> HANZA (Australia) <strong>Deborah Fox</strong>, UK Homeshare Association (UK) <strong>Kirby Dunn,</strong> National Shared Housing Resource Center (USA) and <strong>Alain de Penfentenyo,</strong> ensemble2g&eacute;n&eacute;ations (France)</p>
    <p>&nbsp;</p>
    <p>Coffee break</p>
    <p>&nbsp;</p>
    <p><strong>Three different homesharing models&ndash;&nbsp;</strong>Examples from France by Joachim Pasquet (COSI), Corine Belot (Le Pari Solidaire ); from Austria by Marlene Welzl and from the UK by Deborah Fox</p>
    <p>Householder and their homesharer share their experiences</p>
    <p><strong>Announcement of the next World Homeshare Congress</strong>&nbsp;by <strong>Elizabeth Mills, OBE,</strong> Honorary Director of Homeshare International and congress finaly</p>
    <p>&nbsp;</p>
    <p>*********</p>
    <p>&nbsp;</p>
    <p><strong>City tour for Congress participants &ndash;&nbsp;leaving from the Grand Place (participants must register for the tour ahead of departure)</strong></p>
  </div>


  <!-- PHONE PART !!!!!! -->


  <div class="col-md-4-phone prog-marg-top prog-margin-phone visible-xs visible-sm">
    <b class="text-center " style="text-transform:uppercase"><h3 class="day1-font-size prog-spaceday">Day 1 : Thursday, 21 March 2019</h3></b>
    <p><strong>8h00-9h00 : Registration</strong></p>
    <p><strong>9h00-9h03 : 1toit2ages Video</strong></p>
    <p><strong>9h03-9h15 : Welcome: </strong>Moderator : Régis de kerautem</p>
    <p><strong>Claire de Kerautem</strong>, Director of 1Toit2Ages, Belgium and <strong>Cheryl Snider</strong>, Chair of Homeshare International</p>
    <p><strong>9h15-9h30 : C&eacute;line Fr&eacute;mault</strong>, Brussels Housing Minister</p>
    <p><strong>9h30-9h45 : Alain Leveque</strong>, Vice-Rector of the Brussels University &ndash;</p>
    <p>ULB -Universit&eacute; Libre de Bruxelles</p>
    <p><strong>9h45-10h00 : Householders and their homesharers share their experiences</strong></p>
    <p><strong>10h00-10h45 : The Nan Maitland Memorial Lecture: Professor Malcolm Johnson</strong>, President of Homeshare International, Director of the International Institute on Health and Ageing (UK). <strong>Results of research introducing four-year olds into care homes</strong>.</p>
    <p><strong>10h45-11h00 : Alfonso Fajardo Barreras</strong>. Homesharing Social Impact Measurement by Solidarios- Spain</p>
    <p>&nbsp;</p>
    <p><strong>11h00-11h30</strong> : Coffee break</p>
    <p>&nbsp;</p>
    <p><strong>11h30- 11h45 : Presentation of the project Erasmus+ toitplusmoi.eu :</strong> Violaine Leyder Cnav (France), Etienne Drapeau (ESN), Joachim Pasquet (le COSI France), Alfonso Fajardo Barreras (Solidarios -Spain), Claire de Kerautem (1toit2Ages- Belgium)</p>
    <p><strong>11h45-12h30</strong> : <strong>What is the role of Technology in Homeshare Matching?</strong> With <strong>Violaine Leyder</strong> from CARSAT (France) first European online matching platform, <strong>Noelle Marcu</strong>s, Director of Nesterly (USA) a new platform that pairs older homeowners with young renters and <strong>Kirby Dunn</strong>, CEO HomeShare Vermont (USA). Moderator: <strong>Marlene Welzl</strong> (Austria)</p>
    <p><strong>12h30-14h00 : </strong>Lunch with opportunities for networking</p>
    <p><strong>14h00-14h30</strong> <strong>: Political investment in homesharing: Cho Jae Suhn</strong> (South Korea)</p>
    <p><strong>14h30-15h00 : Homeshare in Japan: Kubota Hiroyuki</strong> (Japan)</p>
    <p><strong>15h05-16h30 : Speed networking</strong> : Delegates from a wide range of experience and knowledge have the opportunity to meet, question and compare notes with practitioners and homeshare participants from around the world</p>
    <p>&nbsp;</p>
    <p><strong>16h30-17h00</strong> : Coffee break</p>
    <p>&nbsp;</p>
    <p><strong>17h00-18h00 : Marketing the concept of intergenerational cohabitation (homeshare) to major companies, in the context of Corporate Social Responsibility by Jean-Renaud d&rsquo;Elissagaray</strong> (France)</p>
    <p><strong>20h30 : Gala Dinner:</strong> Homeshare International 20th birthday!</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>*********</p>
    <b class="text-center " style="text-transform:uppercase"><h3 class="day1-font-size prog-spaceday">Day 2 : Friday, 22 March 2019</h3></b>
    <p>&nbsp;</p>
    <p><strong>8h30-9h00 : Delegates to arrive. Coffee</strong></p>
    <p><strong>9h00-9h45 :</strong> "What is the European Union doing for the elderly?" by <strong>Anne Sophie Parent</strong>, Secretary General of AGE Platform Europe</p>
    <p><strong>9h50-10h40 : Workshops</strong> (delegates to choose one)</p>
    <p class="underline">* Housing and Ageing</p>
    <p><strong>Damien Vanneste</strong>, Lecturer in Sociology</p>
    <p class="underline">* Why and How to measure social impact with</p>
    <p><strong>Odile Dayez</strong>, Communication and Marketing Director of Les Petits Riens</p>
    <p>(Belgium)</p>
    <p class="underline">* Homeshare schemes working with technology</p>
    <p><strong>Marlene Welzl</strong>, <strong>Manuel Schuler and Lukas Hecke</strong> from Gemeinsam</p>
    <p>Wohnen (Austria)</p>
    <p class="underline">* Taking a National approach to Homeshare development</p>
    <p><strong>Beris Campbell, OAM</strong>, HANZA (Australia) <strong>Deborah Fox</strong>, UK Homeshare Association (UK) <strong>Kirby Dunn</strong>, National Shared Housing Resource Center (USA) and <strong>Alain de Penfentenyo</strong>, ensemble2g&eacute;n&eacute;ations (France)</p>
    <p>&nbsp;</p>
    <p><strong>10h40-11h10</strong> : Coffee break</p>
    <p>&nbsp;</p>
    <p><strong>11h10-12h00 : Three different homesharing models</strong>&ndash; Examples from France by <strong>Joachim Pasquet</strong> (COSI), <strong>Corine Belot</strong> (Le Pari Solidaire ); from Austria by <strong>Marlene Welzl</strong> and from the UK by <strong>Deborah Fox</strong></p>
    <p><strong>12h00-12h15 : Householder and their homesharer share their experiences</strong></p>
    <p><strong>12h15-13h00</strong> : Announcement of the next World Homeshare Congress by <strong>Elizabeth Mills, OBE</strong>, Honorary Director of Homeshare International and congress finaly</p>
    <p>*********</p>
    <p><strong>15h00 : City tour for Congress participants &ndash; leaving from the Grand Place (participants must register for the tour ahead of departure)</strong></p>
  </div>
</div>
