<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">`
</div>

<div class=" above-navbar-phone-2 visible-md visible-sm visible-xs text-center">
</div>

<div class="row">
  <div class="container-fluid bg-2" style="padding-left:unset;padding-right: unset;">
    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12 TopImageContainer">
      <div class="toppage-img hands-img  text-center">
      </div>
      <!--    padding-img-->
      <div class="WelcomeTxtOnImage "><%= raw t :Prog_ImageLabel %> </div>
      <p></p>
    </div>

    <p></p>

  </div>
</div>
<div class="register_bandeau prog-bandeau hidden-md hidden-sm hidden-xs">
  <h3 class="text-center"><%= raw t :Prog0_Txt0 %></h3>
  <p class="text-center"><%= raw t :Prog0_Txt1 %></p>
</div>
<div class="register_bandeau prog-bandeau visible-md visible-sm visible-xs">
  <h3 class="text-center"><%= raw t :Prog_Txt0 %></h3>`
  <p class="text-center"><%= raw t :Prog_Txt1 %></p>
</div>
<div class="row text-justify font-size-all bg-3">
  <div class="col-md-4 prog-marg-top prog-right">
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space">8h00-9h00&nbsp;</p>
    <p class="prog-space">9h00-9h03&nbsp;</p>
    <p class="prog-space">9h03-9h15&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space1">&nbsp;</p>

    <p class="prog-space">9h15-9h30&nbsp;</p>
    <p class="prog-space2">9h30-9h45</p>
    <p class="prog-space">9h45-10h00&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">10h00-10h45</p>
    <p>&nbsp;</p>
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space">10h45-11h00&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space">11h00-11h30&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">11h30- 11h45&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">11h45-12h30&nbsp;</p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p class="prog-space">12h30-14h00</p>
    <p class="prog-space2">14h00-14h30</p>
    <p>&nbsp;</p>
    <p class="prog-space">14h30-15h00&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">15h05-16h30&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">16h30-17h00&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">17h00-18h00&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space">20h30&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <!-- 2eme jour -->

    <p class="prog-space2">8h30-9h00</p>
    <p class="prog-space">9h00-9h45</p>
    <p>&nbsp;</p>
    <p class="prog-space">9h50-10h40</p>
    <p class="prog-space">&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p class="prog-space">10h40-11h00</p>
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space">11h00-12h00</p>
    <p class="prog-space">&nbsp;</p>
    <p>12h00-12h15</p>
    <p>12h15-13h00</p>
    <p class="prog-space">&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p>15h00 </p>
  </div>
  <div class="col-md-4 prog-marg-top">
    <b class="text-center " style="text-transform:uppercase"><h3 class="day1-font-size prog-spaceday">Jour 1 : Jeudi 21 mars 2019</h3></b>
    <p class="prog-space"> <b>Inscription – Café de Bienvenue</b></p>
    <p class="prog-space"><b>Vidéo 1toit2ages</b></p>
    <p><b>Accueil:</b></p>
    <p class="prog-space2">Claire de Kerautem, Directrice d’1Toit2Ages-Belgique et Cheryl Snider, Présidente du Conseil d’Administration de Homeshare International</p>
    <p class="prog-space">Céline Frémault, <b>Ministre du Logement Bruxellois</b></p>
    <p >Alain Leveque, Recteur de l’ULB  <b>(ULB -Universit&eacute; Libre de Bruxelles)</b></p>
    <p class="prog-space2"><b>Présence et témoignage de 2 binômes senior-étudiant.</b></p>
    <p><b>Résultat de 2 ans d’étude sur les bénéfices de la présence d’enfants en maison de repos</b> par le Prof. <b>Malcolm Johnson</b>, Président de Homeshare International. Directeur de l’International Institute on Health and Ageing, Uk</p>

    <p>Delphine Liegeois : <b>Mesure de l’impact social du Logement intergénérationnel par Solidarios – Espagne</b></p>
    <p>&nbsp;</p>
    <p><b>Pause-café</b></p>
    <p>&nbsp;</p>
    <p><b>Présentation du projet Erasmus+ toitplusmoi.eu </b>: Violaine Leyder de la Cnav (France), Etienne Drapeau (ESN), Joachim Pasquet (le COSI), Delphine Liégeois (Solidarios), Claire de Kerautem (1toit2Ages)</p>
    <p>Débat : <b>Le rôle de la technologie pour développer l’habitat partagé : Avantages et Inconvénients.</b> Avec Violaine Leyder de la CARSAT (France) La Sécurité Sociale et sa plateforme digitale intergénérationnelle ToiTplusMoi, Noelle Marcus (USA), Nesterly nouvelle plateforme internet qui met en relation propriétaires âgés et jeunes locataires, Manuel Shuler co fondateur de WGE( Autriche ) et sa plateforme qui met en lien une maison de repos et des étudiants et Kirby Dunn CEO de HomeShare Vermont (USA). Animé par Marlene Welzl (Autriche).)</p>
    <p class="prog-space"><b>Déjeuner- Networking</b> </p>
    <p class="prog-space">Cho Jae Suhn : <b>L’investissement politique du gouvernement Coréen en faveur du logement partagé.</b></p>
    <p>Kubota Hiroyuki, <b>Professeur à l’université de Nihon et Kayuzo Le modèle Japonais.</b></p>
    <p><b>Speed networking (Rencontres et échanges professionnels)</b></p>
    <p>&nbsp;</p>
    <p><b>Pause-café</b></p>
    <p>&nbsp;</p>
    <p class="prog-space2"><b>Jean-Renaud d'Elissagaray</b> (FR). Développer le concept de logement intergénérationnel dans les entreprises, une exclusivité française ! Une solution pour aider les employés confrontés au vieillissement et à l’isolement de leurs parents</p>
    <p><b>Diner de Gala: 20 ans de Homeshare International !</b></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <!-- DAY 2 -->

    <b class="text-center " style="text-transform:uppercase"><h3 class="day1-font-size prog-spaceday">Jour 2 : Vendredi 22 mars 2019</h3></b>
    <p class="prog-space"><b>Café d’accueil</b></p>
    <p><b>Anne Sophie Parent </b>: Secrétaire Générale de la plateforme AGE -Commission Européenne. "Que fait l'Union européenne pour les personnes âgées".</p>
    <b><p> Workshop au choix : </p></b>
    <p>* Concevoir et adapter l&rsquo;habitat pour les personnes &acirc;g&eacute;es.</p>
    <p>Damien Vanneste : Sociologue &agrave; l&rsquo;UCL.</p>
    <p>M&eacute;thodologie et int&eacute;r&ecirc;t de la mesure de l&rsquo;Impact social.</p>
    <p>Odile Dayez, ASBL les Petits Riens (Belgique).</p>
    <p>La technologie au service de l&rsquo;habitat partag&eacute;.</p>
    <p>Marlene Welzl, Manuel Shuler and Lukas Hecke (Autriche)</p>
    <p>* Quelles strat&eacute;gies d&eacute;velopper pour promouvoir le concept interg&eacute;n&eacute;rationnel.</p>
    <p>* Beris Campbell OAM (Australie), Kirby Dunn (USA), Alain de Penfentenyo ( FR ) and Deborah Fox, UK</p>
    <p >&nbsp;</p>
    <b><p>Pause-café</p></b>
    <p>&nbsp;</p>
    <p><b>Présentation de 3 modèles différents</b> de logements intergénérationnels – <b>France</b> (Joachim Pasquet du COSI et Corine Belot du Paris Solidaire Lyon)- <b>Autriche</b> (Marlene welzl) – <b>Angleterre</b> (Deborah Fox )</p>
    <b><p>Témoignage d’1 binôme</p></b>
    <p>Clôture du Congrès et annonce du 7ème congrès International par <b>Elizabeth Mills, OBE,</b> Directrice honoraire de Homeshare International</p>
    <p>&nbsp;</p>
    <p>*********</p>
    <p>&nbsp;</p>
    <p><b>Visite guidée de la Grand Place</b> (sur inscription)</p>
  </div>
</div>
