<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">`
</div>

<div class=" above-navbar-phone-2 visible-md visible-sm visible-xs text-center">
</div>

<div class="row">
  <div class="container-fluid bg-2" style="padding-left:unset;padding-right: unset;">
    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12 TopImageContainer">
      <div class="toppage-img hands-img  text-center">
      </div>
      <!--    padding-img-->
      <div class="WelcomeTxtOnImage "><%= raw t :Prog_ImageLabel %> </div>
      <p></p>
    </div>

    <p></p>

  </div>
</div>
<div class="register_bandeau prog-bandeau hidden-md hidden-sm hidden-xs">
  <h3 class="text-center"><%= raw t :Prog0_Txt0 %></h3>
  <p class="text-center"><%= raw t :Prog0_Txt1 %></p>
</div>
<div class="register_bandeau prog-bandeau visible-md visible-sm visible-xs">
  <h3 class="text-center"><%= raw t :Prog0_Txt0 %></h3>`
  <p class="text-center"><%= raw t :Prog0_Txt1 %></p>
</div>
<div class="row text-justify font-size-all bg-3">
  <div class="col-md-4 prog-marg-top prog-right hidden-xs hidden-sm">
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space">8h00-9h00&nbsp;</p>
    <p class="prog-space">9h00-9h03&nbsp;</p>
    <p class="prog-space">9h03-9h15&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space1">&nbsp;</p>

    <p class="prog-space">9h15-9h30&nbsp;</p>
    <p class="prog-space1">9h30-9h45</p>
    <p class="prog-space">9h45-10h00&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">10h00-10h45</p>
    <p>&nbsp;</p>
    <p class="prog-space">&nbsp;</p>
    <p>10h45-11h00&nbsp;</p>
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space">11h00-11h30&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">11h30- 11h45&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">11h45-12h30&nbsp;</p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p class="prog-space">12h30-14h00</p>
    <p class="prog-space1">14h00-14h30</p>
    <p class="prog-space">&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">14h30-15h00&nbsp;</p>
    <p class="prog-space">15h05-16h30&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">16h30-17h00&nbsp;</p>
    <p class="prog-space2">&nbsp;</p>
    <p class="prog-space">17h00-18h00&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space">20h30&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <!-- 2eme jour -->

    <p class="prog-space2">8h30-9h00</p>
    <p class="prog-space">9h00-9h45</p>
    <p>&nbsp;</p>
    <p class="prog-space">9h50-10h40</p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p>&nbsp;</p><p>&nbsp;</p><p class="prog-space">&nbsp;</p>
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space">10h40-11h10</p>
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space">11h10-12h00</p>
    <p class="prog-space">&nbsp;</p>
    <p>12h00-12h15</p>
    <p>12h15-13h00</p>
    <p class="prog-space">&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p>15h00 </p>
  </div>
  <div class="col-md-4 prog-marg-top hidden-xs hidden-sm">
    <b class="text-center " style="text-transform:uppercase"><h3 class="day1-font-size prog-spaceday">Jour 1 : Jeudi 21 mars 2019</h3></b>
    <p class="prog-space"><strong>Inscription &ndash; Caf&eacute; de Bienvenue</strong></p>
    <p class="prog-space"><strong>Vid&eacute;o 1Toit2Ages</strong></p>
    <p><strong>Accueil:</strong> Modérateur : Régis de kerautem</p>
    <p class="prog-space2"><strong>Claire de Kerautem</strong>, Directrice d&rsquo;1Toit2Ages et <strong>Cheryl Snider</strong>, Pr&eacute;sidente du Conseil d&rsquo;Administration de Homeshare International</p>
    <p class="prog-space"><strong>C&eacute;line Fremault,</strong>&nbsp;Ministre du Logement Bruxellois</p>
    <p><strong>Alain Leveque</strong>, Recteur de l&rsquo;ULB&nbsp;(Universit&eacute; Libre de Bruxelles)</p>
    <p class="prog-space2"><strong>Pr&eacute;sence et t&eacute;moignage de 2 bin&ocirc;mes senior-&eacute;tudiant.</strong></p>
    <p><strong>R&eacute;sultats de 2 ans d&rsquo;&eacute;tude sur les b&eacute;n&eacute;fices de la pr&eacute;sence d&rsquo;enfants en maison de repos</strong>&nbsp;par le Prof.&nbsp;<strong>Malcolm Johnson</strong>, Pr&eacute;sident de Homeshare International. Directeur de l&rsquo;International Institute on Health and Ageing, Uk</p>
    <p><strong>Alfonso Fajardo Barreras</strong> Mesure de l&rsquo;impact social du Logement interg&eacute;n&eacute;rationnel par Solidarios (ES)</p>
     <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>Pause-caf&eacute;</p>
    <p>&nbsp;</p>
    <p><b>Pr&eacute;sentation du projet Erasmus+ toitplusmoi.eu&nbsp;:</b> Violaine Leyder de la Cnav (France), Etienne Drapeau (ESN), Joachim Pasquet (le COSI), Alfonso Fajardo Barreras (Solidarios), Claire de Kerautem (1Toit2Ages)</p>
    <p>D&eacute;bat :&nbsp;<strong>Le r&ocirc;le de la technologie pour d&eacute;velopper l&rsquo;habitat partag&eacute; : Avantages et Inconv&eacute;nients.</strong>&nbsp;Avec Violaine Leyder de la CARSAT (France) La S&eacute;curit&eacute; Sociale et sa plateforme digitale interg&eacute;n&eacute;rationnelle ToiTplusMoi, Noelle Marcus (USA), Nesterly nouvelle plateforme internet qui met en relation propri&eacute;taires &acirc;g&eacute;s et jeunes locataires, Manuel Shuler co fondateur de WGE( Autriche ) et sa plateforme qui met en lien une maison de repos et des &eacute;tudiants et Kirby Dunn CEO de HomeShare Vermont (USA). Anim&eacute; par Marlene Welzl (Autriche).)</p>
    <p class="prog-space">D&eacute;jeuner- Networking</p>
    <p class="prog-space"><strong>L’investissement politique du gouvernement Coréen en faveur de l’habitat partagé: Cho Jae Suhn</strong>, professeur à l'Université Soongsil de Séoul, Corée du Sud. </p>
    <p><strong> Le modèle Japonais: Kubota Hiroyuki,</strong>&nbsp;Professeur &agrave; l&rsquo;universit&eacute; de Nihon et <strong>Kayuzo Sonohara.</strong></p>
    <p><strong>Speed networking</strong> (Rencontres et &eacute;changes professionnels)</p>
    <p>&nbsp;</p>
    <p>Pause-caf&eacute;</p>
    <p>&nbsp;</p>
    <p class="prog-space2"><strong>Jean-Renaud d'Elissagaray</strong>&nbsp;(FR). D&eacute;velopper le concept de logement interg&eacute;n&eacute;rationnel dans les entreprises, une exclusivit&eacute; fran&ccedil;aise ! Une solution pour aider les employ&eacute;s confront&eacute;s au vieillissement et &agrave; l&rsquo;isolement de leurs parents</p>
    <p><strong>Diner de Gala: 20 ans de Homeshare International !</strong></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h3 class="day1-font-size prog-spaceday">JOUR 2 : VENDREDI 22 MARS 2019</h3>
    <p class="prog-space"><strong>Caf&eacute; d&rsquo;accueil</strong></p>
    <p><b>"Que fait l'Union europ&eacute;enne pour les personnes &acirc;g&eacute;es": </b><strong>Anne Sophie Parent&nbsp;</strong>: Secr&eacute;taire G&eacute;n&eacute;rale de la plateforme AGE - Commission Europ&eacute;enne.</p>
    <p><strong>Workshop au choix :</strong></p>
    <p class="underline">* Concevoir et adapter l&rsquo;habitat pour les personnes &acirc;g&eacute;es.</p>
    <p><strong>Damien Vanneste</strong> <strong>:</strong> Sociologue &agrave; l&rsquo;UCL.</p>
    <p class="underline">* M&eacute;thodologie et int&eacute;r&ecirc;t de la mesure de l&rsquo;Impact social.</p>
    <p><strong>Odile Dayez,</strong> ASBL les Petits Riens (Belgique).</p>
    <p class="underline">* La technologie au service de l&rsquo;habitat partag&eacute;.</p>
    <p><strong>Marlene Welzl,</strong> <strong>Manuel Shuler and Lukas Hecke</strong> (Autriche)</p>
    <p class="underline">* Quelles strat&eacute;gies d&eacute;velopper pour promouvoir le concept interg&eacute;n&eacute;rationnel.</p>
    <p><strong>Beris Campbell, OAM</strong>, HANZA (Australia) <strong>Deborah Fox</strong>, Homeshare Association (UK) <strong>Kirby Dunn</strong>, National Shared Housing Resource Center (USA)</p>
    <p>&nbsp;</p>
    <p>Pause-caf&eacute;</p>
    <p>&nbsp;</p>
    <p><strong>Pr&eacute;sentation de 3 mod&egrave;les diff&eacute;rents d’habitats partagés:</strong> <strong>France</strong>&nbsp;(Joachim Pasquet du COSI et Corine Belot du Paris Solidaire Lyon) - <strong>Autriche</strong>&nbsp;(Marlene welzl) <strong>Angleterre</strong>&nbsp;(Deborah Fox)</p>
    <p>T&eacute;moignage d&rsquo;1 bin&ocirc;me</p>
    <p>Cl&ocirc;ture du Congr&egrave;s et annonce du 7&egrave;me congr&egrave;s International par&nbsp;<strong>Elizabeth Mills, OBE,</strong>&nbsp;Directrice honoraire de Homeshare International</p>
    <p>&nbsp;</p>
    <p>*********</p>
    <p>&nbsp;</p>
    <p><strong>Visite guid&eacute;e de la Grand Place</strong>&nbsp;(sur inscription)</p>
  </div>


  <!-- PHONE PART !!!!!! -->


  <div class="col-md-4-phone prog-marg-top prog-margin-phone visible-xs visible-sm">
    <b class="text-center " style="text-transform:uppercase"><h3 class="day1-font-size prog-spaceday">Jour 1: Jeudi 21 mars 2019</h3></b>
    <p><strong>8h-00-9h00</strong> <strong>:</strong> <strong>Inscription &ndash; Caf&eacute; de Bienvenue</strong></p>
    <p><strong>9h00-9h03</strong> <strong>:</strong> <strong>Vid&eacute;o 1toit2ages.</strong></p>
    <p><strong>9h03-9h15: Accueil: </strong>Modérateur : Régis de kerautem</p>
    <p><strong>Claire de Kerautem</strong>, Directrice d&rsquo;1Toit2Ages et <strong>Cheryl Snider</strong>, Pr&eacute;sidente du Conseil d&rsquo;Administration de Homeshare International</p>
    <p><strong>9h15-9h30 : C&eacute;line Fremault</strong>, Ministre du Logement Bruxellois</p>
    <p><strong>9h30-9h45 : A. Leveque</strong>, Recteur de l&rsquo;ULB (Universit&eacute; Libre de Bruxelles)</p>
    <p><strong>9h45-10h00: Pr&eacute;sence et t&eacute;moignage de 2 bin&ocirc;mes senior-&eacute;tudiant.</strong></p>
    <p><strong>10h00-10h45 : R&eacute;sultat de 2 ans d&rsquo;&eacute;tude sur les b&eacute;n&eacute;fices de la pr&eacute;sence d&rsquo;enfants en maison de repos</strong> par le Prof. <strong>Malcolm Johnson</strong>, Pr&eacute;sident de Homeshare International. Directeur de l&rsquo;International Institute on Health and Ageing, Uk</p>
    <p><strong>10h45-11h00 : Alfonso Fajardo Barreras</strong>: Mesure de l&rsquo;impact social du Logement interg&eacute;n&eacute;rationnel par Solidarios &ndash; Espagne</p>
    <p>&nbsp;</p>
    <p><strong>11h-11h30</strong> : Pause-caf&eacute;</p>
    <p>&nbsp;</p>
    <p><strong>11h30- 11h45</strong> : Pr&eacute;sentation du projet Erasmus+ toitplusmoi.eu : Violaine Leyder de la Cnav (France), Etienne Drapeau (ESN), Joachim Pasquet (le COSI), Alfonso Fajardo Barreras (Solidarios), Claire de Kerautem (1toit2Ages)</p>
    <p><strong>11h45-12h30</strong> : D&eacute;bat : <strong>Le r&ocirc;le de la technologie pour d&eacute;velopper l&rsquo;habitat partag&eacute; : Avantages et Inconv&eacute;nients</strong>. Avec Violaine Leyder de la CARSAT (France) La S&eacute;curit&eacute; Sociale et sa plateforme digitale interg&eacute;n&eacute;rationnelle ToiTplusMoi, Noelle Marcus (USA), Nesterly nouvelle plateforme internet qui met en relation propri&eacute;taires &acirc;g&eacute;s et jeunes locataires, Manuel Shuler co fondateur de WGE( Autriche ) et sa plateforme qui met en lien une maison de repos et des &eacute;tudiants et Kirby Dunn CEO de HomeShare Vermont (USA). Anim&eacute; par Marlene Welzl (Autriche).</p>
    <p><strong>12h30-14h00</strong> : D&eacute;jeuner- Networking</p>
    <p><strong>14h-14h30 : L&rsquo;investissement politique du gouvernement Cor&eacute;en en faveur&nbsp;</strong><strong>de l&rsquo;habitat&nbsp;</strong><strong>partag&eacute;</strong>:&nbsp;<strong>Cho Jae Suhn,</strong>&nbsp;professeur &agrave; l'Universit&eacute; Soongsil de S&eacute;oul, Cor&eacute;e du Sud.</p>
    <p><strong>14h30-15h00 : Le mod&egrave;le Japonais</strong>:&nbsp;<strong>Kubota Hiroyuki,</strong>&nbsp;Professeur &agrave; l&rsquo;universit&eacute; de Nihon et&nbsp;<strong>Kayuzo</strong><strong>Sonohara.</strong></p>
    <p><strong>15h05-16h30 : Speed networking </strong>(Rencontres et &eacute;changes professionnels)</p>
    <p>&nbsp;</p>
    <p><strong>16h30-17h00 : </strong>Pause-caf&eacute;</p>
    <p>&nbsp;</p>
    <p><strong>17h-18h : Jean-Renaud d'Elissagaray</strong> (FR). D&eacute;velopper le concept de logement interg&eacute;n&eacute;rationnel dans les entreprises, une exclusivit&eacute; fran&ccedil;aise ! Une solution pour aider les employ&eacute;s confront&eacute;s au vieillissement et &agrave; l&rsquo;isolement de leurs parents.</p>
    <p><strong>20h</strong> : <strong>Diner de Gala</strong> : 20 ans de Homeshare International !</p>
    <p>&nbsp;</p>
    <b class="text-center " style="text-transform:uppercase"><h3 class="day1-font-size prog-spaceday">Jour 2 : Vendredi 22 mars 2019</h3></b>
    <p><strong>8h-30-9h00 : Caf&eacute; d&rsquo;accueil</strong></p>
    <p><strong>9h00-9h45 : <strong>"Que fait l'Union europ&eacute;enne pour les personnes &acirc;g&eacute;es".</strong>: Anne Sophie Parent</strong> : Secr&eacute;taire G&eacute;n&eacute;rale de la plateforme AGE -Commission Europ&eacute;enne.</p>
    <p><strong>9h50-10h40</strong> <strong>: Workshop au choix</strong> :</p>
    <p class="underline">* Concevoir et adapter l&rsquo;habitat pour les personnes &acirc;g&eacute;es.</p>
    <p><strong>Damien Vanneste</strong> : Sociologue &agrave; l&rsquo;UCL.</p>
    <p class="underline">* M&eacute;thodologie et int&eacute;r&ecirc;t de la mesure de l&rsquo;Impact social.</p>
    <p><strong>Odile Dayez</strong>, ASBL les Petits Riens (Belgique).</p>
    <p class="underline">* La technologie au service de l&rsquo;habitat partag&eacute;.</p>
    <p><strong>Marlene Welzl, Manuel Shuler and Lukas Hecke</strong> (Autriche)</p>
    <p class="underline">* Quelles strat&eacute;gies d&eacute;velopper pour promouvoir le concept interg&eacute;n&eacute;rationnel.</p>
    <p><strong> Beris Campbell OAM (Australie), Kirby Dunn (USA) and Deborah Fox, UK</strong></p>
    <p>&nbsp;</p>
    <p><strong>10h40-11h10</strong> : Pause-caf&eacute;</p>
    <p>&nbsp;</p>
    <p><strong>11h10-12h00</strong> : <strong>Pr&eacute;sentation de 3 mod&egrave;les diff&eacute;rents d'habitats partagés </strong><strong>France</strong> (Joachim Pasquet du COSI et Corine Belot du Paris Solidaire Lyon)- <strong>Autriche</strong> (Marlene welzl) &ndash; <strong>Angleterre</strong> (Deborah Fox )</p>
    <p><strong>12h00-12h15 : T&eacute;moignage d&rsquo;1 bin&ocirc;me</strong></p>
    <p><strong>12h15-13h00</strong> : Cl&ocirc;ture du Congr&egrave;s et annonce du 7&egrave;me congr&egrave;s International par <strong>Elizabeth Mills, OBE,</strong> Directrice honoraire de Homeshare International</p>
    <p><strong>15h :</strong> Visite guid&eacute;e de la Grand Place (sur inscription)</p>
  </div>

</div>
