<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">`
</div>

<div class=" above-navbar-phone visible-md visible-sm visible-xs text-center">
</div>

<!--<div class="container-fluid hidden-xs hands-img padding-img text-center"></div>-->
<!-- phone part-->
<!--<div class="container-fluid visible-xs hands-img-phone padding-img-phone-prog text-center"></div>-->



<div class="container-fluid bg-2" style="padding-left:unset;padding-right: unset;">
  <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12 TopImageContainer">
    <div class="toppage-img hands-img  text-center">
    </div>
    <!--    padding-img-->
    <div class="WelcomeTxtOnImage "><%= raw t :Prog_ImageLabel %> </div>
    <p></p>
  </div>


  <!--  <div class="container-fluid hidden-xs about-img padding-img text-center">-->
  <!--  </div>-->

  <!--  <!-- phone part -->
  <!--  <div class="container-fluid visible-xs about-img-phone padding-img-phone text-center">-->
  <!--  </div>-->
  <p></p>
  <div class="container-fluid bg-2 font-size-all">
    <p></p>
    <div class="col-sm-12 col-xs-12   col-lg-4 col-md-4 bg-2">
      <p></p>
<!--      <p class="font-size-welcome-intertitle text-uppercase"><%#= raw t :Prog_Title1 %></p>-->
      <p class=" text-justify"><%= raw t :Prog_Text1 %></p>
      <p class=" text-justify"><%= raw t :Prog_Text2 %></p>
    </div>

    <div class="col-sm-12 col-xs-12   col-lg-4 col-md-4  bg-3">
<!--      <p class="font-size-welcome-intertitle"><%#= raw t :Prog_Title2 %></p>-->
      <p class="text-justify"> <%= raw t :Prog_Text2_1 %></p>
      <p class="text-justify"> <%= raw t :Prog_Text2_2 %></p>
      <p class="text-justify"></p>
      <p class="text-center"> <%= raw t :Prog_Text2_3 %></p>
    </div>

    <div class="col-sm-12 col-xs-12   col-lg-4 col-md-4 bg-2 ">
<!--      <p class="font-size-welcome-intertitle"><%#= raw t :Prog_Title3 %></p>-->
      <p class="text-justify"> <%= raw t :Prog_Text3_1 %></p>
      <p class="text-justify"> <%= raw t :Prog_Text3_2 %></p>
      <p class="text-justify"> <%= raw t :Prog_Text3_3 %></p>
      <p class="text-justify"> <%= raw t :Prog_Text3_4 %></p>
    </div>
  </div>
</div>
