<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">`
</div>

<div class=" above-navbar-phone-2 visible-md visible-sm visible-xs text-center">
</div>

<div class="row">
  <div class="container-fluid bg-2" style="padding-left:unset;padding-right: unset;">
    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12 TopImageContainer">
      <div class="toppage-img hands-img  text-center">
      </div>
      <!--    padding-img-->
      <div class="WelcomeTxtOnImage "><%= raw t :Prog_ImageLabel %> </div>
      <p></p>
    </div>

    <p></p>
    <div class="container-fluid bg-2 font-size-all">
      <p></p>
      <div class="col-sm-12 col-xs-12   col-lg-4 col-md-4 bg-2">
        <p></p>
        <!--      <p class="font-size-welcome-intertitle text-uppercase"><%#= raw t :Prog_Title1 %></p>-->
        <p class=" text-center"><%= raw t :Prog_Title %></p>
        <p class=" text-justify"><%= raw t :Prog_Text1 %></p>
        <p class=" text-justify"><%= raw t :Prog_Text2 %></p>
      </div>

      <div class="col-sm-12 col-xs-12   col-lg-4 col-md-4  bg-3">
        <!--      <p class="font-size-welcome-intertitle"><%#= raw t :Prog_Title2 %></p>-->
        <p class="text-justify"> <%= raw t :Prog_Text2_1 %></p>
        <p class="text-justify"> <%= raw t :Prog_Text2_2 %></p>
        <p class="text-justify"></p>
        <p class="text-center"> <%= raw t :Prog_Text2_3 %></p>
      </div>

      <div class="col-sm-12 col-xs-12   col-lg-4 col-md-4 bg-2 ">
        <!--      <p class="font-size-welcome-intertitle"><%#= raw t :Prog_Title3 %></p>-->
        <p class="text-justify"> <%= raw t :Prog_Text3_1 %></p>
        <p class="text-justify"> <%= raw t :Prog_Text3_2 %></p>
        <p class="text-justify"> <%= raw t :Prog_Text3_3 %></p>
        <p class="text-justify"> <%= raw t :Prog_Text3_4 %></p>
      </div>
    </div>
  </div>
</div>
<div class="row text-justify font-size-all bg-3">
  <div class="col-md-4 prog-marg-top prog-right">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>8h00-9h00&nbsp;</p>
    <p>&nbsp;</p>
    <p>9h00-9h03&nbsp;</p>
    <p>&nbsp;</p>
    <p>9h03-9h15&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>9h15-9h30&nbsp;</p>
    <p>&nbsp;</p>
    <p>9h30-9h45</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>9h45-10h00&nbsp;</p>
    <p>&nbsp;</p>
    <p>10h00-10h45</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>10h45-11h00&nbsp;</p>
    <p>&nbsp;</p>

    <p>11h00-11h30&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>11h30- 11h45&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>11h45-12h30&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>12h30-14h00</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>14h00-14h30</p>
    <p>&nbsp;</p>
    <p>14h30-15h00&nbsp;</p>
    <p>&nbsp;</p>
    <p>15h05-16h30&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>16h30-17h00&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>17h00-18h00&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>20h30&nbsp;</p>
    <p>&nbsp;</p>
  </div>
  <div class="col-md-4 prog-marg-top">
    <b class="text-center" style="text-transform:uppercase"><p>Day 1 : Thursday, 21 March 2019</p></b>
    <p>&nbsp;</p>
    <p> <b>Registration</b></p>
    <p>&nbsp;</p>
    <p><b>1toit2ages Video</b></p>
    <p>&nbsp;</p>
    <p><b>Welcome:</b></p>
    <p>Claire de Kerautem, Director of 1Toit2Ages, Belgium and Cheryl Snider, Chair of Homeshare International</p>
    <p>&nbsp;</p>
    <p>C&eacute;line Fr&eacute;mault, <b>Brussels Housing Minister</b></p>
    <p>&nbsp;</p>
    <p>Alain Leveque, Vice-Rector of the Brussels University &ndash; <b>ULB -Universit&eacute; Libre de Bruxelles</b></p>
    <p>&nbsp;</p>
    <p><b>Householders and their homesharers share their experiences</b></p>
    <p>&nbsp;</p>
    <p>The Nan Maitland Memorial Lecture: Professor Malcolm Johnson, President of Homeshare International, Director of the International Institute on Health and Ageing (UK). <b>Results of research introducing four-year olds into care homes.</b></p>
    <p>&nbsp;</p>
    <p>Delphine Liegeois. <b>Homesharing Social Impact Measurement by Solidarios- Spain</b></p>
    <p>&nbsp;</p>
    <p><b>Coffee break</b></p>
    <p>&nbsp;</p>
    <p><b>Presentation of the project Erasmus+ toitplusmoi.eu</b> : Violaine Leyder Cnav (France), Etienne Drapeau (ESN), Joachim Pasquet (le COSI France), Delphine Li&eacute;geois (Solidarios -Spain), Claire de Kerautem (1toit2Ages- Belgium)</p>
    <p>&nbsp;</p>
    <p><b>What is the role of Technology in Homeshare Matching? </b>With Violaine Leyder from CARSAT (France) first European online matching platform, Noelle Marcus, Director of Nesterly (USA) a new platform that pairs older homeowners with young renters and Kirby Dunn, CEO HomeShare Vermont (USA). Moderator: Marlene Welzl (Austria)</p>
    <p>&nbsp;</p>
    <p><b>Lunch with opportunities for networking</b></p>
    <p>&nbsp;</p>
    <p><b>Political investment in homesharing:</b> Cho Jae Suhn (South Korea)</p>
    <p>&nbsp;</p>
    <p><b>Homeshare in Japan:</b> Kubota Hiroyuki (Japan)</p>
    <p>&nbsp;</p>
    <p><b>Speed networking</b> : Delegates from a wide range of experience and knowledge have the opportunity to meet, question and compare notes with practitioners and homeshare participants from around the world</p>
    <p>&nbsp;</p>
    <p><b>Coffee break</b></p>
    <p>&nbsp;</p>
    <p><b>Marketing the concept of intergenerational cohabitation (homeshare) to major companies, in the context of Corporate Social Responsibility</b> by Jean-Renaud d&rsquo;Elissagaray (France)</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><b>Gala Dinner at Galerie des Tapisseries, Rue Royale</b></p>
    <b><p>Homeshare International 20th birthday!</p></b>
  </div>
</div>
