<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">`
</div>

<div class=" above-navbar-phone-2 visible-md visible-sm visible-xs text-center">
</div>

<div class="row">
  <div class="container-fluid bg-2" style="padding-left:unset;padding-right: unset;">
    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12 TopImageContainer">
      <div class="toppage-img hands-img  text-center">
      </div>
      <!--    padding-img-->
      <div class="WelcomeTxtOnImage "><%= raw t :Prog_ImageLabel %> </div>
      <p></p>
    </div>

    <p></p>

  </div>
</div>
<div class="register_bandeau prog-bandeau hidden-md hidden-sm hidden-xs">
  <h3 class="text-center"><%= raw t :Prog0_Txt0 %></h3>
  <p class="text-center"><%= raw t :Prog0_Txt1 %></p>
</div>
<div class="register_bandeau prog-bandeau visible-md visible-sm visible-xs">
  <h3 class="text-center"><%= raw t :Prog0_Txt0 %></h3>`
  <p class="text-center"><%= raw t :Prog0_Txt1 %></p>
</div>
<div class="row text-justify font-size-all bg-3">
  <div class="col-md-4 prog-marg-top prog-right hidden-xs hidden-sm">
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space">8h00-9h00&nbsp;</p>
    <p class="prog-space">9h00-9h03&nbsp;</p>
    <p class="prog-space">9h03-9h15&nbsp;</p>
    <p class="prog-space1">&nbsp;</p>

    <p class="prog-space">9h15-9h30&nbsp;</p>
    <p class="prog-space2">9h30-9h45</p>
    <p class="prog-space">9h45-10h00&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">10h00-10h45</p>
    <p>&nbsp;</p>
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space">10h45-11h00&nbsp;</p>
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space">11h00-11h30&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">11h30- 11h45&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">11h45-12h30&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">12h30-14h00</p>
    <p class="prog-space2">14h00-14h30</p>
    <p class="prog-space">14h30-15h00&nbsp;</p>
    <p class="prog-space">15h05-16h30&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">16h30-17h00&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">17h00-18h00&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">20h30&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space">8h30-9h00</p>
    <p class="prog-space">9h00-9h45</p>
    <p>&nbsp;</p>
    <p class="prog-space">9h50-10h40</p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p class="prog-space">10h40-11h00</p>
    <p>&nbsp;</p>
    <p class="prog-space">11h00-12h00</p>
    <p class="prog-space">&nbsp;</p>
    <p class="prog-space1">12h00-12h15</p>
    <p class="prog-space">12h15-13h00</p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p class="prog-space">15h00 </p>
  </div>
  <div class="col-md-4 prog-marg-top">
    <b class="text-center " style="text-transform:uppercase"><h3 class="day1-font-size prog-spaceday">Day 1 : Thursday, 21 March 2019</h3></b>
    <p class="prog-space"> <b>Registration</b></p>
    <p class="prog-space"><b>1toit2ages Video</b></p>
    <p><b>Welcome:</b></p>
    <p class="prog-space">Claire de Kerautem, Director of 1Toit2Ages, Belgium and Cheryl Snider, Chair of Homeshare International</p>
    <p>C&eacute;line Fr&eacute;mault, <b>Brussels Housing Minister</b></p>
    <p>Alain Leveque, Vice-Rector of the Brussels University &ndash; <b>ULB -Universit&eacute; Libre de Bruxelles</b></p>
    <p class="prog-space"><b>Householders and their homesharers share their experiences</b></p>
    <p>The Nan Maitland Memorial Lecture: Professor Malcolm Johnson, President of Homeshare International, Director of the International Institute on Health and Ageing (UK). <b>Results of research introducing four-year olds into care homes.</b></p>

    <p>Delphine Liegeois. <b>Homesharing Social Impact Measurement by Solidarios- Spain</b></p>
    <p>&nbsp;</p>
    <p><b>Coffee break</b></p>
    <p>&nbsp;</p>
    <p><b>Presentation of the project Erasmus+ toitplusmoi.eu</b> : Violaine Leyder Cnav (France), Etienne Drapeau (ESN), Joachim Pasquet (le COSI France), Delphine Li&eacute;geois (Solidarios -Spain), Claire de Kerautem (1toit2Ages- Belgium)</p>
    <p><b>What is the role of Technology in Homeshare Matching? </b>With Violaine Leyder from CARSAT (France) first European online matching platform, Noelle Marcus, Director of Nesterly (USA) a new platform that pairs older homeowners with young renters and Kirby Dunn, CEO HomeShare Vermont (USA). Moderator: Marlene Welzl (Austria)</p>
    <p class="prog-space"><b>Lunch with opportunities for networking</b></p>
    <p><b>Political investment in homesharing:</b> Cho Jae Suhn (South Korea)</p>
    <p class="prog-space"><b>Homeshare in Japan:</b> Kubota Hiroyuki (Japan)</p>
    <p><b>Speed networking</b> : Delegates from a wide range of experience and knowledge have the opportunity to meet, question and compare notes with practitioners and homeshare participants from around the world</p>
    <p class="prog-space">&nbsp;</p
      <p><b>Coffee break</b></p>
      <p>&nbsp;</p>
      <p class="prog-space2"><b>Marketing the concept of intergenerational cohabitation (homeshare) to major companies, in the context of Corporate Social Responsibility</b> by Jean-Renaud d&rsquo;Elissagaray (France)</p>
      <p><b>Gala Dinner: Homeshare International 20th birthday !</b></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>

      <!-- DAY 2 -->

      <b class="text-center " style="text-transform:uppercase"><h3 class="day1-font-size prog-spaceday">Day 2 : Friday, 22 March 2019</h3></b>
      <p class="prog-space"><b>Delegates to arrive. Coffee</b></p>
      <p><b>"What is the European Union doing for the elderly?"</b> by Anne Sophie Parent, Secretary General of AGE Platform Europe</p>
      <p><b>Workshops</b> (delegates to choose one)</p>
      <p>* Housing and Ageing</p>
      <p>Damien Vanneste, Lecturer in Sociology</p>
      <p>* Why and How to measure social impact with</p>
      <p>Odile Dayez, Communication and Marketing Director of Les Petits Riens</p>
      <p>(Belgium)</p>
      <p>* Homeshare schemes working with technology</p>
      <p>Marlene Welzl, Manuel Schuler and Lukas Hecke from Gemeinsam</p>
      <p>Wohnen (Austria)</p>
      <p>* Taking a National approach to Homeshare development</p>
      <p>Beris Campbell, OAM, HANZA (Australia) Deborah Fox, UK Homeshare Association (UK) Kirby Dunn, National Shared Housing Resource Center (USA) and Alain de Penfentenyo, ensemble2g&eacute;n&eacute;ations (France)</p>
      <p >&nbsp;</p>
      <b><p>Coffee break</p></b>
      <p>&nbsp;</p>
      <p><b>Three different homesharing models&ndash; </b>Examples from France by Joachim Pasquet (COSI), Corine Belot (Le Pari Solidaire ); from Austria by Marlene Welzl and from the UK by Deborah Fox</p>
      <b><p>Householder and their homesharer share their experiences</p></b>
      <p><b>Announcement of the next World Homeshare Congress</b> by Elizabeth Mills, OBE, Honorary Director of Homeshare International and congress finaly</p>
      <p>&nbsp;</p>
      <p>*********</p>
      <p>&nbsp;</p>
      <p><b>City tour for Congress participants &ndash; </b>leaving from the Grand Place (participants must register for the tour ahead of departure)</p>
    </div>
  </div>
