<div class=" above-navbar-2 hidden-md hidden-sm hidden-xs text-center">
</div>
<!-- phone part -->
<div class=" above-navbar-phone visible-md visible-sm visible-xs text-center">
</div>





<!--<div class="container-fluid hidden-xs text-center padding-img4 binome_img ">-->
<!--</div>-->
<!-- phone part -->
<!--<div class="container-fluid visible-xs text-center padding-img4-phone binome_img-phone ">-->
<!--</div>-->



<!--<div class="container-fluid hidden-xs text-center padding-img3 map-img">-->
<!--</div>-->
<!-- phone part -->
<!--<div class="container-fluid visible-xs text-center">-->
<!--</div>-->
<!--<div class="container-fluid visible-xs text-center padding-img3-phone map-img-phone">-->
<!--</div>-->



<div class="">
  <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12 TopImageContainer">
    <div class="container-fluid  toppage-img  binome_img text-center">
    </div>
    <!--    padding-img-->
    <div class="WelcomeTxtOnImage "><%= t :ProgBX_ImageLabel %> </div>
  </div>
  <!--  <div class="col-lg-3 col-md-3 hidden-xs hidden-sm"></div>-->
</div>



<div class="">
  <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12 TopImageContainer">
    <div class="container-fluid  toppage-img   map-img text-center">
    </div>
  </div>
  <!--  <div class="col-lg-3 col-md-3 hidden-xs hidden-sm"></div>-->
</div>

<div class="container-fluid bg-2 font-size-all">
  <div class="font-size-all col-sm-12 col-xs-12  col-lg-6 col-lg-offset-3  col-md-8 col-md-offset-2 bg-2">
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :ProgBX_Txt1 %></span>
    </p>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :ProgBX_Txt2 %></span>
    </p>
  </div>
</div>


<div class="container-fluid bg-3 text-center font-size-all green">
  <p class="font-size-welcome-intertitle"><b><%= raw t :ProgBX_OurMission %></b></p>
  <p class="margin-text-all text-center"><%= raw t :ProgBX_OurMissionTxt %></p>
  <p class="font-size-welcome-intertitle"><b><%= raw t :ProgBX_OurDream %></b></p>
  <p class="text-center"><%= raw t :ProgBX_OurDream1 %></p>
  <p class="text-center"><%= raw t :ProgBX_OurDream2 %></p>
</div>

<div class="container-fluid bg-2 font-size-all">
  <div class="col-sm-12 col-xs-12  col-lg-6 col-lg-offset-3  col-md-8 col-md-offset-2 bg-2">
    <p class="text-center"><b class="font-size-welcome-intertitle"><%= raw t :ProgBX_SchemeTitle %></b></p>
    <p class="text-justify"><%= raw t :ProgBX_Scheme1 %></p>
    <p class="text-justify"><%= raw t :ProgBX_Scheme2 %></p>
    <p class="text-justify"><%= raw t :ProgBX_Scheme3 %></p>
    <p class="text-justify"><%= raw t :ProgBX_Scheme4 %></p>
    <p class="text-justify"><%= raw t :ProgBX_Scheme5 %></p>
    <p class="text-justify"><%= raw t :ProgBX_Scheme6 %></p>
    <p class="text-justify"><%= raw t :ProgBX_Scheme10 %></p>
    <p class="text-justify"><%= raw t :ProgBX_Scheme7 %></p>
    <p class="text-justify"><%= raw t :ProgBX_Scheme8 %></p>
    <p class="photogroupe-img-height photogroupe-img"> </p>
    <p class="text-center"><%= raw t :ProgBX_Scheme9 %><b>
    <a href="http://www.1toit2ages.be" target="_blank">www.1toit2ages.be</a></b></p>
  </div>
</div>

