<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">
</div>
<!-- phone part -->
<div class=" above-navbar-phone visible-md visible-sm visible-xs text-center">
</div>

<div class="register_bandeau hidden-md hidden-sm hidden-xs">
  <h3 class="text-center"> SPEAKERS ! </h3>
</div>
<div class="register_bandeau visible-md visible-sm visible-xs">
  <h3 class="text-center"> SPEAKERS </h3>
</div>

<div class="container-fluid bg-3 text-center">

  <!-- 1ere rangée -->
  <div class="row speakers-margin-bot">
    <div class="col-sm-3 speakers-marge1 hidden-xs">
      <p class="speakers-img-height speaker1-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers1_Txt1 %></span>
    </p></b>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers1_Txt2 %></span>
      </p>
    </div>

    <div class="col-sm-3 visible-xs">
      <p class="speakers-img-height speaker1-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers1_Txt1 %></span>
    </p></b>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers1_Txt2 %></span>
      </p>
    </div>

    <div class="col-sm-3 speakers-marge2">
      <p class="speakers-img-height speaker2-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers2_Txt1 %></span>
      </p></b>
      <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers2_Txt2 %></span>
      </p>
    </div>
    <div class="col-sm-3">
      <p class="speakers-img-height speaker3-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers3_Txt1 %></span>
    </p></b>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers3_Txt2 %></span>
    </p>
    </div>
  </div>

  <!-- 2eme rangée -->
  <div class="row speakers-margin-bot">
    <div class="col-sm-3 speakers-marge1 hidden-xs">
      <p class="speakers-img-height speaker4-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers4_Txt1 %></span>
    </p></b>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers4_Txt2 %></span>
      </p>
    </div>

    <div class="col-sm-3 visible-xs">
      <p class="speakers-img-height speaker4-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers4_Txt1 %></span>
    </p></b>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers4_Txt2 %></span>
      </p>
    </div>

    <div class="col-sm-3 speakers-marge2">
      <p class="speakers-img-height speaker5-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers5_Txt1 %></span>
      </p></b>
      <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers5_Txt2 %></span>
      </p>
    </div>
    <div class="col-sm-3">
      <p class="speakers-img-height speaker6-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers6_Txt1 %></span>
    </p></b>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers6_Txt2 %></span>
    </p>
    </div>
  </div>
  <!-- 3eme rangée -->
  <div class="row speakers-margin-bot">
    <div class="col-sm-3 speakers-marge1 hidden-xs">
      <p class="speakers-img-height speaker7-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE "><%= raw t :Speakers7_Txt1 %></span>
    </p></b>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers7_Txt2 %></span>
      </p>
    </div>

    <div class="col-sm-3 visible-xs">
      <p class="speakers-img-height speaker7-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers7_Txt1 %></span>
    </p></b>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers7_Txt2 %></span>
      </p>
    </div>

    <div class="col-sm-3 speakers-marge2">
      <p class="speakers-img-height speaker8-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers8_Txt1 %></span>
      </p></b>
      <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers8_Txt2 %></span>
      </p>
    </div>
    <div class="col-sm-3">
      <p class="speakers-img-height speaker9-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers9_Txt1 %></span>
    </p></b>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers9_Txt2 %></span>
    </p>
    </div>
  </div>
  <!-- 4eme rangée -->
  <div class="row speakers-margin-bot">
    <div class="col-sm-3 speakers-marge1 hidden-xs">
      <p class="speakers-img-height speaker10-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE "><%= raw t :Speakers10_Txt1 %></span>
    </p></b>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers10_Txt2 %></span>
      </p>
    </div>

    <div class="col-sm-3 visible-xs">
      <p class="speakers-img-height speaker10-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers10_Txt1 %></span>
    </p></b>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers10_Txt2 %></span>
      </p>
    </div>

    <div class="col-sm-3 speakers-marge2">
      <p class="speakers-img-height speaker11-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers11_Txt1 %></span>
      </p></b>
      <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers11_Txt2 %></span>
      </p>
    </div>
    <div class="col-sm-3">
      <p class="speakers-img-height speaker12-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers12_Txt1 %></span>
    </p></b>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers12_Txt2 %></span>
    </p>
    </div>
  </div>
  <!-- 5eme rangée -->
  <div class="row speakers-margin-bot">
    <div class="col-sm-3 speakers-marge1 hidden-xs">
      <p class="speakers-img-height speaker13-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE "><%= raw t :Speakers13_Txt1 %></span>
    </p></b>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers13_Txt2 %></span>
      </p>
    </div>

    <div class="col-sm-3 visible-xs">
      <p class="speakers-img-height speaker13-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers13_Txt1 %></span>
    </p></b>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers13_Txt2 %></span>
      </p>
    </div>

    <div class="col-sm-3 speakers-marge2">
      <p class="speakers-img-height speaker14-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers14_Txt1 %></span>
      </p></b>
      <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers14_Txt2 %></span>
      </p>
    </div>
    <div class="col-sm-3">
      <p class="speakers-img-height speaker15-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers15_Txt1 %></span>
    </p></b>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers15_Txt2 %></span>
    </p>
    </div>
  </div>
  <!-- 6eme rangée -->
  <div class="row speakers-margin-bot">
    <div class="col-sm-3 speakers-marge1 hidden-xs">
      <p class="speakers-img-height speaker16-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE "><%= raw t :Speakers16_Txt1 %></span>
    </p></b>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers16_Txt2 %></span>
      </p>
    </div>

    <div class="col-sm-3 visible-xs">
      <p class="speakers-img-height speaker16-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers16_Txt1 %></span>
    </p></b>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers16_Txt2 %></span>
      </p>
    </div>

    <div class="col-sm-3 speakers-marge2">
      <p class="speakers-img-height speaker17-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers17_Txt1 %></span>
      </p></b>
      <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers17_Txt2 %></span>
      </p>
    </div>
    <div class="col-sm-3">
      <p class="speakers-img-height speaker18-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers18_Txt1 %></span>
    </p></b>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers18_Txt2 %></span>
    </p>
    </div>
  </div>
  <!-- 7eme rangée -->
  <div class="row speakers-margin-bot">
    <div class="col-sm-3 speakers-marge1 hidden-xs">
      <p class="speakers-img-height speaker19-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE "><%= raw t :Speakers19_Txt1 %></span>
    </p></b>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers19_Txt2 %></span>
      </p>
    </div>

    <div class="col-sm-3 visible-xs">
      <p class="speakers-img-height speaker19-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers19_Txt1 %></span>
    </p></b>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers19_Txt2 %></span>
      </p>
    </div>

    <div class="col-sm-3 speakers-marge2">
      <p class="speakers-img-height speaker20-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers20_Txt1 %></span>
      </p></b>
      <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers20_Txt2 %></span>
      </p>
    </div>
    <div class="col-sm-3">
      <p class="speakers-img-height speaker21-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers21_Txt1 %></span>
    </p></b>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers21_Txt2 %></span>
    </p>
    </div>
  </div>
<!-- 8eme rangée -->
  <div class="row">
    <div class="col-sm-3 speakers-marge1 hidden-xs">
      <p class="speakers-img-height speaker22-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE "><%= raw t :Speakers22_Txt1 %></span>
    </p></b>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers22_Txt2 %></span>
      </p>
    </div>

    <div class="col-sm-3 visible-xs">
      <p class="speakers-img-height speaker22-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers22_Txt1 %></span>
    </p></b>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers22_Txt2 %></span>
      </p>
    </div>

    <div class="col-sm-3 speakers-marge2">
      <p class="speakers-img-height speaker23-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers23_Txt1 %></span>
      </p></b>
      <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers23_Txt2 %></span>
      </p>
    </div>
    <div class="col-sm-3">
      <p class="speakers-img-height speaker24-img"> </p>
      <b><p class="text-center" style="text-transform:uppercase">
      <span lang="FR-BE"><%= raw t :Speakers24_Txt1 %></span>
    </p></b>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :Speakers24_Txt2 %></span>
    </p>
    </div>
  </div>
</div>



